<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafemgt.dao.ArticleMapper">

	<resultMap type="ArticleDto" id="articleResultMap">
		<result property="articleCode" 		column="article_code" />
		<result property="storeInfoCode" 	column="store_info_code" />
		<result property="storeInfoName" 	column="store_info_name" />
		<result property="articleName" 		column="article_name" />
		<result property="articleTaxCate" 	column="article_tax_cate" />
		<result property="artcleBig" 		column="artcle_big" />
		<result property="artcleBigDan" 	column="artcle_big_dan" />
		<result property="artcleMiddle" 	column="artcle_middle" />
		<result property="artcleMiddleDan" 	column="artcle_middle_dan" />
		<result property="articleVolume"	column="article_volume" />
		<result property="articleDan" 		column="article_dan" />
		<result property="articleEtc" 		column="article_etc" />
		<result property="articleRegDate"	column="article_reg_date" />
	</resultMap>
	<select id="getArticle" resultMap="articleResultMap">
		SELECT
			 atc.article_code
			,st.store_info_code
			,st.store_info_name
			,atc.article_name 
			,atc.article_tax_cate
			,atc.artcle_big
			,atc.artcle_big_dan
			,atc.artcle_middle
			,atc.artcle_middle_dan
			,atc.article_volume
			,atc.article_dan
			,atc.article_etc
			,atc.article_reg_date
		FROM
			tb_article AS atc
			LEFT JOIN 
			tb_store_info AS st
			ON
			atc.store_info_code = st.store_info_code
	</select>
</mapper>