<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafemgt.dao.OwnerMapper">
	<resultMap type="OwnerDto" id="ownerResultMap">
		<result property="ownerId" 		column="owner_id" />
		<result property="ownerPw" 		column="owner_pw" />
		<result property="ownerName" 	column="owner_name" />
		<result property="levelCode" 	column="level_code" />
		<result property="ownerPhone" 		column="owner_phone" />
		<result property="ownerEmail" 		column="owner_email" />
		<result property="ownerBirth" 		column="owner_birth" />
		<result property="ownerRegDate" 		column="owner_reg_date" />
	</resultMap>
	
	<select id="getinfoOwner" parameterType="String" resultMap="ownerResultMap">
	SELECT 
		owner_id
		, owner_pw
		, owner_name
		, level_code
		, owner_phone
		, owner_email
		, owner_birth
	FROM tb_owner
		WHERE owner_id = #{ownerId}	
	</select>

</mapper>