<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafemgt.dao.SkkMapper">
	<resultMap type="SkkDto" id="SkkResultMap">
		<result property="skCode"	 				column="sk_code" />
		<result property="storeInfoCode" 			column="store_info_code" />
		<result property="storeInfoName" 			column="store_info_name" />
		<result property="stockCode" 				column="stock_code" />
		<result property="articleCode" 				column="article_code" />
		<result property="articleName" 				column="article_name" />
		<result property="articleDan" 				column="article_dan" />
		<result property="skNowVolume" 				column="sk_now_volume" />
		<result property="skProbeVolume" 			column="sk_probe_volume" />
		<result property="skErrorVolume" 			column="sk_error_volume" />
		<result property="stockMinUnit" 			column="stock_min_unit" />
		<result property="skErrorPriceTotal"		column="sk_error_price_total" />
		<result property="skEtc" 					column="sk_etc" />
		<result property="skDate" 					column="sk_date" />
		<result property="skRegDate" 				column="sk_reg_date" />
		<result property="skDeadLine" 				column="sk_deadline" />
		<result property="skSystemId" 				column="sk_system_id" />
		<result property="skSystemName" 			column="sk_system_name" />
	</resultMap>
	<delete id="removeSkk" parameterType="String">
		DELETE FROM tb_stocktaking
		WHERE sk_code = #{skCode}
	</delete>
	<update id="modifySkkDeadlineCheck" parameterType="String">
		UPDATE tb_stocktaking
		SET
			sk_deadline='o'
		WHERE 
			sk_code = #{skCode}
	</update>
	<update id="modifySkk" parameterType="SkkDto">
		UPDATE tb_stocktaking
		SET
			 sk_now_volume=${skNowVolume}
			,sk_probe_volume=${skProbeVolume}
			,sk_error_volume=${skErrorVolume}
			,sk_error_price_total=${skErrorPriceTotal}
			,sk_deadline='o'
			<if test='skEtc != null'>
				,sk_etc=#{skEtc}
			</if>
			WHERE sk_code=#{skCode}
	</update>
	<insert id="addSkk" parameterType="SkkDto">
		INSERT INTO tb_stocktaking
			(sk_code
			,store_info_code
			,article_code
			,stock_code
			,sk_now_volume
			,sk_probe_volume
			,sk_error_volume
			,sk_error_price_total
			,sk_deadline
			,sk_etc
			,sk_date
			,sk_reg_date)
		VALUES 
			(sf_new_sk_code()
			,#{storeInfoCode}
			,#{articleCode}
			,#{stockCode}
			,${skNowVolume}
			,${skProbeVolume}
			,${skErrorVolume}
			,${skErrorPriceTotal}
			,'x'
			,#{skEtc}
			,#{skDate}
			,NOW())
	</insert>
	<select id="getSkk" parameterType="String" resultMap="SkkResultMap">
		SELECT
			 sk.sk_code
			,st.store_info_code
			,st.store_info_name
			,s.stock_code
			,atc.article_code
			,atc.article_name
			,atc.article_dan
			,sk.sk_now_volume
			,sk.sk_probe_volume
			,sk.sk_error_volume
			,s.stock_min_unit
			,sk.sk_error_price_total
			,sk.sk_deadline
			,sk.sk_etc
			,sk.sk_date
			,sk.sk_reg_date
			,sk.sk_system_id
			,sk.sk_system_name
		FROM
			tb_stocktaking AS sk
			LEFT JOIN
			tb_store_info AS st
			on
			sk.store_info_code = st.store_info_code
			LEFT JOIN
			tb_article AS atc
			on
			sk.article_code = atc.article_code
			LEFT JOIN
			tb_stock AS s
			on
			sk.stock_code = s.stock_code
		WHERE
			st.store_info_code= #{SSTORECODE}
	</select>
	<select id="getSkkByDeadLine" parameterType="String" resultMap="SkkResultMap">
		SELECT
			 sk.sk_code
			,st.store_info_code
			,st.store_info_name
			,s.stock_code
			,atc.article_code
			,atc.article_name
			,atc.article_dan
			,sk.sk_now_volume
			,sk.sk_probe_volume
			,sk.sk_error_volume
			,s.stock_min_unit
			,sk.sk_error_price_total
			,sk.sk_deadline
			,sk.sk_etc
			,sk.sk_date
			,sk.sk_reg_date
			,sk.sk_system_id
			,sk.sk_system_name
		FROM
			tb_stocktaking AS sk
			LEFT JOIN
			tb_store_info AS st
			on
			sk.store_info_code = st.store_info_code
			LEFT JOIN
			tb_article AS atc
			on
			sk.article_code = atc.article_code
			LEFT JOIN
			tb_stock AS s
			on
			sk.stock_code = s.stock_code
		WHERE
			st.store_info_code= #{SSTORECODE}
			AND
			sk.sk_deadline = 'x'
	</select>
	<select id="getSkkBySkCode" parameterType="String" resultMap="SkkResultMap">
		SELECT
			 sk.sk_code
			,st.store_info_code
			,st.store_info_name
			,s.stock_code
			,atc.article_code
			,atc.article_name
			,atc.article_dan
			,sk.sk_now_volume
			,sk.sk_probe_volume
			,sk.sk_error_volume
			,s.stock_min_unit
			,sk.sk_error_price_total
			,sk.sk_deadline
			,sk.sk_etc
			,sk.sk_date
			,sk.sk_reg_date
			,sk.sk_system_id
			,sk.sk_system_name
		FROM
			tb_stocktaking AS sk
			LEFT JOIN
			tb_store_info AS st
			on
			sk.store_info_code = st.store_info_code
			LEFT JOIN
			tb_article AS atc
			on
			sk.article_code = atc.article_code
			LEFT JOIN
			tb_stock AS s
			on
			sk.stock_code = s.stock_code
		WHERE
			sk.sk_code=#{skCode}
	</select>
</mapper>