<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafemgt.dao.StockMapper">
	<resultMap type="StockDto" id="StockResultMap">
		<result property="stockCode"	 			column="stock_code" />
		<result property="storeInfoCode"	 		column="store_info_code" />
		<result property="storeInfoName"	 		column="store_info_name" />
		<result property="articleCode"	 			column="article_code" />
		<result property="articleName"	 			column="article_name" />
		<result property="articleVolume"	 		column="article_volume" />	
		<result property="articleDan"	 			column="article_dan" />	
		<result property="incoCount"	 			column="inco_count" />	
		<result property="incoVolumeSubtotal"	 	column="inco_volume_subtotal" />	
		<result property="stockIncoUnitTotal"	 	column="stock_inco_unit_total" />
		<result property="stockMinUnit"	 			column="stock_min_unit" />
		<result property="stockConCount"	 		column="stock_con_count" />
		<result property="stocklVolumeTotal"	 	column="stock_volume_total" />
		<result property="stockNowCount"	 		column="stock_now_count" />
		<result property="stockNowVolume"	 		column="stock_now_volume" />
		<result property="stockRegDate"	 			column="stock_reg_date" />
		
	</resultMap>
	<select id="getStock" parameterType="String" resultMap="StockResultMap">
		SELECT 
			 article_code
			,article_name
			,article_dan
			,article_volume
			,SUM(inco_count) AS 'inco_count'
			,SUM(inco_volume_subtotal) AS 'inco_volume_subtotal'
			,SUM(inco_total) AS 'stock_inco_unit_total'
			,TRUNCATE(SUM(inco_total)/SUM(inco_volume_subtotal), 0) AS 'stock_min_unit'
			,SUM(detailvol_volume_total) AS 'stock_volume_total'
			,SUM(detailvol_con_count) AS 'stock_con_count'
			,SUM(detailvol_remain_volume)	AS 'stock_now_volume'
			,SUM(detailvol_remain_count) AS 'stock_now_count'
			,stock_reg_date
		FROM
			(SELECT
				dtv.store_info_code
				,inc.inco_code
				,inc.article_code
				,a.article_name
				,a.article_volume
				,a.article_dan
				,inc.inco_count
				,inc.inco_volume_subtotal
				,inc.inco_total
				,detailvol_volume_total 
				,detailvol_con_count
				,detailvol_remain_volume
				,detailvol_remain_count
				,detailvol_reg_date
				,detailvol_deadline_check
				,max(inc.inco_date) AS 'stock_reg_date'
			FROM 
				tb_incoming AS inc
				LEFT join
				tb_detail_volume AS dtv
				ON
				dtv.inco_code = inc.inco_code
				LEFT JOIN 
				tb_article AS a
				on
				inc.article_code = a.article_code
			WHERE
				inc.store_info_code = #{SSTORECODE}
				AND
				inc.inco_check != 3
			GROUP	BY inc.inco_code, a.article_code) AS a2
		GROUP BY article_code
	</select>
</mapper>