<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafemgt.dao.StoreMapper">
	<resultMap type="StoreDto" id="StoreResultMap">
		<result property="storeInfoCode"	 			column="store_info_code" />
		<result property="memberId"	 					column="member_id" />
		<result property="storeInfoName"	 			column="store_info_name" />
		<result property="storeInfoLicenseNumber"	 	column="store_info_license_number" />
		<result property="storeInfoIndustryType"	 	column="store_info_industry_type" />
		<result property="storeInfoZipCode"	 			column="store_info_zip_code" />
		<result property="storeInfoAddr"	 			column="store_info_addr" />
		<result property="storeInfoAddr2"	 			column="store_info_addr2" />
		<result property="storeInfoPhone"	 			column="store_info_phone" />
		<result property="storeInfoRegDate"	 			column="store_info_reg_date" />		
		<result property="storeInfoDelete"	 			column="store_info_delete" />		
	</resultMap>
	
	<!-- 사업장 삭제 -->
	<update id="deleteStore" parameterType="String">
	UPDATE 
		tb_store_info
	SET
		store_info_delete= 'o'
	WHERE store_info_code = #{storeInfoCode}
	
	</update>
	<!-- 사업장 정보 업데이트 -->
	<update id="updateStore" parameterType="StoreDto">
	UPDATE tb_store_info
	SET
		store_info_name= #{storeInfoName},
		store_info_license_number= #{storeInfoLicenseNumber},
		store_info_industry_type= #{storeInfoIndustryType},
		store_info_zip_code= #{storeInfoZipCode},
		store_info_addr= #{storeInfoAddr},
		store_info_addr2= #{storeInfoAddr2},
		store_info_phone= #{storeInfoPhone}
	WHERE store_info_code = #{storeInfoCode}
	
	</update>
	
	<!-- 사업장이 2개일 경우 사업장 선택화면  -->
	<select id="storeChoice" parameterType="String" resultMap="StoreResultMap">
		SELECT
		s.member_id
		,s.store_info_name
		,s.store_info_code
		,m.level_code
	FROM 
		tb_store_info AS s
	left join
		tb_member AS m
	on
		m.member_id = s.member_id
	WHERE s.member_id=#{MID}
	AND s.store_info_delete = 'x'
	</select>
	
	<!-- store 사업장 등록 + 0401 주소 분리 -->
	<insert id="addStore" parameterType="StoreDto">
	INSERT INTO tb_store_info
		(store_info_code
		, member_id
		, store_info_name
		, store_info_license_number
		, store_info_industry_type
		, store_info_zip_code
		, store_info_addr
		, store_info_addr2
		, store_info_phone
		, store_info_reg_date
		, store_info_delete)
	VALUES (sf_new_store_info_code()
			, #{memberId}
			, #{storeInfoName}
			, #{storeInfoLicenseNumber}
			, #{storeInfoIndustryType}
			, #{storeInfoZipCode}
			, #{storeInfoAddr}
			, #{storeInfoAddr2}
			, #{storeInfoPhone}
			, NOW()
			, 'x')
	
	</insert>
	
	<!-- store 사업장 조회(관리자) -->
	<select id="getStoreadmin" parameterType="String" resultMap="StoreResultMap">
		SELECT 
			 store_info_code
			,member_id
			,store_info_name
			,store_info_license_number
			,store_info_industry_type
			,store_info_addr
			,store_info_phone
			,store_info_reg_date
			,store_info_delete
		FROM 
			tb_store_info
		where store_info_delete = 'x'
	</select>
	
	<!---->
	<select id="getinfoStore" parameterType="String" resultMap="StoreResultMap">
      SELECT 
         store_info_code
         , member_id
         , store_info_name
         , store_info_license_number
         , store_info_industry_type
         , store_info_addr
         , store_info_phone
         , store_info_reg_date
      FROM 
         tb_store_info
      WHERE 
         store_info_code =#{SSTORECODE}
   </select>
	<!-- store 사업장 조회(사업자) -->
	<select id="getStore" parameterType="String" resultMap="StoreResultMap">
      SELECT 
         store_info_code
         , member_id
         , store_info_name
         , store_info_license_number
         , store_info_industry_type
         , store_info_addr
         , store_info_phone
         , store_info_reg_date
         , store_info_delete
      FROM 
         tb_store_info
      WHERE 
         member_id =#{MID}
      AND store_info_delete = 'x'   
   </select>
		
	<!-- 마이페이지 사업장(추가) 정보 부분 -->
	<select id="getStoreMy" parameterType="String" resultMap="StoreResultMap">
      SELECT 
         store_info_code
         , member_id
         , store_info_name
         , store_info_license_number
         , store_info_industry_type
         , store_info_addr
         , store_info_phone
         , store_info_reg_date
      FROM 
         tb_store_info
      WHERE 
         store_info_code =#{SSTORECODE}
   </select>
</mapper>