<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>회원 조회</title>
</th:block>

<th:block layout:fragment="customCss">
	<!-- Datatables -->
	<link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
</th:block>
<th:block layout:fragment="customContents">

 <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>마이페이지</h3>
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                <th:block th:each="ml : ${memberList}">
                  <div class="x_title">
                    <h2><a th:text="${ml.storeInfoName}"></a> <small>사업장번호</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-lg-3 col-md-3 col-sm-3  profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="col-lg-12 col-md-12 col-sm-12 img-responsive avatar-view" src="images/cafemgt2.jpg" alt="Avatar" title="Change the avatar">
                        </div>
                      </div>
                      <h3 class="col-lg-10 col-md-12 col-sm-12"><a th:text="${ml.memberName}"></a></h3>

                      <ul class="list-unstyled user_data">
                        <li class="col-lg-10 col-md-12 col-sm-12"><i class="fa fa-map-marker user-profile-icon"></i> San Francisco, California, USA
                        </li>

                        <li class="col-lg-10 col-md-12 col-sm-12">
                          <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
                        </li>

                        <li class="col-lg-10 col-md-12 col-sm-12">
                          <i class="fa fa-external-link user-profile-icon"></i>
                          <a href="http://cloudviolet.cafe24.com/" target="_blank">http://cloudviolet.cafe24.com/</a>
                        </li>
                      </ul>

                      <a class="col-lg-10 col-md-9 col-sm-12 btn btn-success" style="color: white;"><i class="fa fa-edit m-right-xs"></i> 정보 수정하기</a>
                      <br />

                    </div>
                    <div class="col-md-9 col-sm-9 ">

                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">필수정보</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">추가정보</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Profile</a>
                          </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">

                            <!-- start 필수정보 -->
                            <table class="data table no-margin">
                              <thead>
                                <tr>
                                  <td class="col-md-2 col-sm-2"><strong>아이디</strong></td>
                                  <td class="col-md-4 col-sm-4" th:text="${ml.memberId}">
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="col-md-2 col-sm-2"><strong>이름</strong></td>
                                  <td class="col-md-4 col-sm-4" th:text="${ml.memberName}">
                                </tr>
                                <tr>
                                  <td class="col-md-2 col-sm-2"><strong>회원구분</strong></td>
                                  <td class="col-md-4 col-sm-4" th:text="${ml.levelName}">
                                </tr>
                                <tr>
                                  <td class="col-md-2 col-sm-2"><strong>상호명</strong></td>
                                  <td class="col-md-4 col-sm-4" th:text="${ml.storeInfoName}">
                                </tr>
                                <tr>
                                  <td class="col-md-2 col-sm-2"><strong>핸드폰번호</strong></td>
                                  <td class="col-md-4 col-sm-4" th:text="${ml.memberPhone}">
                                </tr>
                                <tr>
                                  <td class="col-md-2 col-sm-2"><strong>이메일</strong></td>
                                  <td class="col-md-4 col-sm-4" th:text="${ml.memberEmail}">
                                </tr>
                                <tr>
                                  <td class="col-md-2 col-sm-2"><strong>생년월일</strong></td>
                                  <td class="col-md-4 col-sm-4" th:text="${ml.memberBirth}">
                                </tr>
                                <tr>
                                  <td class="col-md-2 col-sm-2"><strong>등록날짜</strong></td>
                                  <td class="col-md-4 col-sm-4" th:text="${ml.memberRegDate}">
                                </tr>
                              </tbody>
                            </table>
                            <!-- 필수정보 -->

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                            <!-- start 추가정보 -->
                            <table class="data table table-striped no-margin">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Project Name</th>
                                  <th>Client Company</th>
                                  <th class="hidden-phone">Hours Spent</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>New Company Takeover Review</td>
                                  <td>Deveint Inc</td>
                                  <td class="hidden-phone">18</td>
                                 
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>New Partner Contracts Consultanci</td>
                                  <td>Deveint Inc</td>
                                  <td class="hidden-phone">13</td>
                             
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>Partners and Inverstors report</td>
                                  <td>Deveint Inc</td>
                                  <td class="hidden-phone">30</td>
                                
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>New Company Takeover Review</td>
                                  <td>Deveint Inc</td>
                                  <td class="hidden-phone">28</td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- end 추가정보 -->

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                              photo booth letterpress, commodo enim craft beer mlkshk </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </th:block>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
</th:block>

<th:block layout:fragment="customJs">
	<script th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	<script
		src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script
		src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script
		src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script
		src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script
		src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script
		src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script
		src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script
		src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
	<script src="../vendors/jszip/dist/jszip.min.js"></script>
	<script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
</th:block>


</html>