<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>일용직 급여 등록</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
			<!-- bootstrap-wysiwyg -->
		<link th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}" rel="stylesheet">
		<!-- Select2 -->
		<link th:href="@{/vendors/select2/dist/css/select2.min.css}" rel="stylesheet">
		<!-- Switchery -->
		<link th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet">
		<!-- starrr -->
		<link th:href="@{/vendors/starrr/dist/starrr.css}" rel="stylesheet">
		<!-- bootstrap-daterangepicker -->
		<link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
		<div class="row">
						<div class="col-md-12 col-sm-12 ">
							<div class="x_panel">
								<div class="x_title">
									<h2>일용직 급여등록 <!-- <small>different form elements</small> --></h2>
									<ul class="nav navbar-right panel_toolbox">
										<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
										</li>
										<li class="dropdown">
											<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
												<ul class="dropdown-menu" role="menu">
													<li><a class="dropdown-item" href="#">Settings 1</a>
													</li>
													<li><a class="dropdown-item" href="#">Settings 2</a>
													</li>
												</ul> -->
										</li>
										<li><a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<form id="demo-form2" th:action="@{/adddsalary}" method="post" data-parsley-validate class="form-horizontal form-label-left">

										<input type="hidden" name="storeInfoCode" th:value="${session.SSTORECODE}">											
										<input type="hidden" name="salesSystemId" th:value="${session.OID}">
										
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">직원 아이디 <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" id="memberId" name="memberId" required="required" class="form-control">
											</div>
										</div>
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align">귀속년월 <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input id="sdYearMonth" name="sdYearMonth" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
												<script>
													function timeFunctionLong(input) {
														setTimeout(function() {
															input.type = 'text';
														}, 60000);
													}
												</script>
											</div>
										</div>
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">근무시간 총 합계<span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" id="sdWorktime" name="sdWorktime" required="required" class="form-control">
											</div>
										</div>
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">급여 <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" id="sdPay" name="sdPay" required="required" class="form-control">
											</div>
										</div>
										<div class="item form-group">
											<label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">근로소득세</label>
											<div class="col-md-6 col-sm-6 ">
												<input id="sdIncome" class="form-control" type="text" name="sdIncome" placeholder="월급+과세로 계산해서 맞는 구간검색해서 삽입" readonly="readonly">
											</div>
										</div>
										<div class="item form-group">
											<label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">근로지방소득세</label>
											<div class="col-md-6 col-sm-6 ">
												<input id="sdIncomeLocal" class="form-control" type="text" name="sdIncomeLocal" placeholder="근로소득세*0.1해서 삽입" readonly="readonly">
											</div>
										</div>
										<div class="item form-group">
											<label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">공제합계</label>
											<div class="col-md-6 col-sm-6 ">
												<input id="sdDeduction" class="form-control" type="text" name="sdDeduction" placeholder="근로소득세+근로지방소득세+4대보험 합계 세율 계산금액" readonly="readonly">
											</div>
										</div>
										<div class="item form-group">
											<label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">실수령금액</label>
											<div class="col-md-6 col-sm-6 ">
												<input id="sdReceipts" class="form-control" type="text" name="sdReceipts" placeholder="월급+과세로 계산해서 맞는 구간검색해서 삽입" readonly="readonly">
											</div>
										</div>
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align">지급일자<span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input id="sdPayDate" name="sdPayDate" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
												<script>
													function timeFunctionLong(input) {
														setTimeout(function() {
															input.type = 'text';
														}, 60000);
													}
												</script>
											</div>
										</div>
										<div class="ln_solid"></div>
										<div class="item form-group">
											<div class="col-md-6 col-sm-6 offset-md-3">
												<button class="btn btn-primary" type="button">Cancel</button>
												<button class="btn btn-primary" type="reset">Reset</button>
												<button type="submit" class="btn btn-success">Submit</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
	</th:block>
	
	<th:block layout:fragment="customJs">
	<!-- bootstrap-daterangepicker -->
	<script th:src="@{/vendors/moment/min/moment.min.js}"></script>
	<script th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
	<!-- bootstrap-wysiwyg -->
	<script th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
	<script th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
	<script th:src="@{/vendors/google-code-prettify/src/prettify.js}"></script>
	<!-- jQuery Tags Input -->
	<script th:src="@{/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
	<!-- Switchery -->
	<script th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
	<!-- Select2 -->
	<script th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
	<!-- Parsley -->
	<script th:src="@{/vendors/parsleyjs/dist/parsley.min.js}"></script>
	<!-- Autosize -->
	<script th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
	<!-- jQuery autocomplete -->
	<script th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
	<!-- starrr -->
	<script th:src="@{/vendors/starrr/dist/starrr.js}"></script>
	
	<script type="text/javascript">
	
		var sdPay = $('#sdPay');
		var intax=$('#sdIncome');
		var intaxlocal=$('#sdIncomeLocal');
		var sdDeduction=$('#sdDeduction')
		var sdReceipts=$('#sdReceipts')
		
		//근로소득세 계산
		$(function(){
			$('#sdPay').on('change keyup',function(){
				if(Number(sdPay.val())<=1060000){
					var it=0;
					intax.val(it);
					intaxlocal.val(it);
				}else if(Number(sdPay.val())>1060000 && Number(sdPay.val())*12<=12000000){
					var it=Math.round(Number(sdPay.val())*0.06);
					intax.val(it);
					intaxlocal.val(it*0.1);
				}else if(12000000 < Number(sdPay.val())*12 <= 46000000){
					var it=Math.round(Number(sdPay.val())*0.15-1080000/12);
					intax.val(it);
					intaxlocal.val(it*0.1);
				}else if(46000000 < Number(sdPay.val())*12 <= 88000000){
					var it=Math.round(Number(sdPay.val())*0.24-5220000/12);
					intax.val(it);
					intaxlocal.val(it*0.1);
				}else if(88000000 < Number(sdPay.val())*12 <= 150000000){
					var it=Math.round(Number(sdPay.val())*0.35-14900000/12);
					intax.val(it);
					intaxlocal.val(it*0.1);
				}else if(150000000 < Number(sdPay.val())*12 <= 300000000){
					var it=Math.round(Number(sdPay.val())*0.38-19400000/12);
					intax.val(it);
					intaxlocal.val(it*0.1);
				}else if(300000000 < Number(sdPay.val())*12 <= 500000000){
					var it=Math.round(Number(sdPay.val())*0.40-25400000/12);
					intax.val(it);
					intaxlocal.val(it*0.1);
				}else if(500000000<Number(sdPay.val())*12<=1000000000){
					var it=Math.round(Number(sdPay.val())*0.42-35400000/12);
					intax.val(it);
					intaxlocal.val(it*0.1);
				}else if(1000000000 < Number(sdPay.val())*12){
					var it=Math.round(Number(sdPay.val())*0.45-65400000/12);
					intax.val(it);
					intaxlocal.val(it*0.1);
				}
			});
			$('#sdPay').on('change keyup',function(){
				var tt = Number(intax.val())+Number(intaxlocal.val());
				sdDeduction.val(tt);
				var sr = Number(sdPay.val())-Number(sdDeduction.val())
				sdReceipts.val(sr);
			});
		});
		
	</script>
	
	</th:block>
		
</html>