<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>거래처 등록</title>
</th:block>

	<th:block layout:fragment="customCss">
			<!-- bootstrap-wysiwyg -->
		<link th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}" rel="stylesheet">
		<!-- Select2 -->
		<link th:href="@{/vendors/select2/dist/css/select2.min.css}" rel="stylesheet">
		<!-- Switchery -->
		<link th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet">
		<!-- starrr -->
		<link th:href="@{/vendors/starrr/dist/starrr.css}" rel="stylesheet">
		<!-- bootstrap-daterangepicker -->
		<link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
	</th:block>
	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
						<div class="x_title">
							<h2>거래처 등록</h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<br />
							<!-- 메인콘텐츠 Start -->
							<form th:action="@{/addcustomer}" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
								<input type="hidden" name="storeInfoCode" th:value="${session.SSTORECODE}">
								
								<!-- 거래처 사업자 번호 시작 -->
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="custNumber">거래처 사업자 번호 * <span class="required"></span>
									</label>
									<div class="col-md-6 col-sm-6 ">								
										<input type="text" id="custNumber" data-inputmask="'mask': '999-99-99999'" 
										name="custNumber" data-parsley-error-message="*필수 입력사항 " class="form-control" required='required' placeholder="000-00-00000"/>
									</div>
								</div>		
								<!-- 거래처 사업자 번호 종료-->
								<!-- 거래처 상호명 시작 -->
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="custName">거래처 상호명 * <span class="required"></span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="custName" name="custName" required="required" class="form-control custName"/>												
									</div>	
								</div>
								<!-- 거래처 상호명 종료 -->
								<!-- 업종 시작 -->
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="custBusinessType">업종 * <span class="required"></span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="custBusinessType" name="custBusinessType" required="required" class="form-control custBusinessType"/>												
									</div>	
								</div>
								<!-- 업종 종료 -->
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="custOwnerName">거래처 대표자명 * <span class="required"></span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="custOwnerName" name="custOwnerName" required="required" class="form-control custOwnerName"/>												
									</div>	
								</div>
								
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="custPhone">거래처 전화번호
									</label>
									<div class="col-md-6 col-sm-6 ">								
										<input type="text" id="custPhone" name="custPhone" class="form-control custPhone" />
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="custEtc">상세
									</label>
									<div class="col-md-6 col-sm-6 ">								
										<input type="text" id="custEtc" name="custEtc" class="form-control custEtc" />
									</div>
								</div>


								
								
								

								<div class="ln_solid"></div>
								<div class="form-group row">
									<div class="col-md-4 col-sm-8 offset-md-4 text-center">
										<button class="btn btn-primary" type="reset">다시 작성</button>
										<button type="submit" class="btn btn-success">등록 하기</button>
									</div>
								</div>
							</form>
							<!-- 메인콘텐츠 End -->
						</div>
					</div>
				</div>
			</div>		
		</div>
	</th:block>
	<th:block layout:fragment="customJs">
	
	
	<!-- bootstrap-daterangepicker -->
	<script th:src="@{/vendors/moment/min/moment.min.js}"></script>
	<script th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
	<!-- bootstrap-wysiwyg -->
	<script th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
	<script th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
	<script th:src="@{/vendors/google-code-prettify/src/prettify.js}"></script>
	<!-- jQuery Tags Input -->
	<script th:src="@{/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
	<!-- Switchery -->
	<script th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
	<!-- Select2 -->
	<script th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
	<!-- Parsley -->
	<script th:src="@{/vendors/parsleyjs/dist/parsley.js}"></script>
	<!-- Autosize -->
	<script th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
	<!-- jQuery autocomplete -->
	<script th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
	<!-- starrr -->
	<script th:src="@{/vendors/starrr/dist/starrr.js}"></script>
	
	<!-- input mask 스크립트 0325 추가 -->
    <!-- jquery.inputmask -->
    <script src="../vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- 연락처 스크립트 -->
	<script type="text/javascript">
		$(document).on("keyup", ".custPhone", function() { $(this).val( $(this).val().replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-") ); });

	</script>
		
	</th:block>	
	

</html>