<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>직원 등록</title>
	</th:block>

	<th:block layout:fragment="customCss">
			<!-- bootstrap-wysiwyg -->
		<link th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}" rel="stylesheet">
		<!-- Select2 -->
		<link th:href="@{/vendors/select2/dist/css/select2.min.css}" rel="stylesheet">
		<!-- Switchery -->
		<link th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet">
		<!-- starrr -->
		<link th:href="@{/vendors/starrr/dist/starrr.css}" rel="stylesheet">
		<!-- bootstrap-daterangepicker -->
		<link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
	</th:block>
	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
						<div class="x_title">
							<h2>직원 추가 정보 등록</h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<br />
							<!-- 메인콘텐츠 Start -->
							<form th:action="@{/adduser}" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
								<input type="hidden" name="storeInfoCode" th:value="${session.SSTORECODE}">
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="userId">아이디 * <span class="required"></span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="userId" name="userId" required="required" class="form-control id"/>												
									</div>
								</div>
								<!-- password -->
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="userPw">비밀번호 * <span class="required"></span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="password" id="userPw" name="userPw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[!@#$%^&*]).{6,}" placeholder="소문자, 숫자 및 특수문자를 포함하여 최소 6자" required="required" class="form-control pw">												
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="userPw">비밀번호 확인 *	</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="password" class="form-control pwCheck" name="rePassword" data-parsley-equalto="#userPw"
											   data-parsley-error-message="비밀번호를 확인해주세요" placeholder="비밀번호 확인 *" data-validate-linked='password' required='required' />
									</div>
								</div>
								<!-- /password -->
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="userName">이름 * <span class="required"></span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="userName" name="userName" required="required" class="form-control Name"/>												
									</div>	
								</div>
								<div class="form-group row horizontal">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="levelNmae">구분 * <span class="required"></span>
									</label>
									<div class="col-md-1 col-sm-3">
										<div class="radio">
											<label>
												<input type="radio" checked value="level_02" name="levelCode"> 상용직
											</label>
										</div>
									</div>
									<div class="col-md-1 col-sm-3">
										<div>
											<label class="radio-inline">
												<input type="radio" value="level_03" name="levelCode"> 일용직
											</label>
										</div>		
									</div>
								</div>
								<div class="form-group row">									
									<label class="col-form-label col-md-3 col-sm-3 label-align">입사 날짜 * 
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input id="userJoinDate" name="userJoinDate" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
										<script>
											function timeFunctionLong(input) {
												setTimeout(function() {
													input.type = 'text';
												}, 60000);
											}
										</script>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="userPhone">연락처
									</label>
									<div class="col-md-2 col-sm-2">								
										<input type="text" id="userPhone" Pattern="(^[0-9]*$)" data-parsley="(^[0-9]*$)"
										name="userPhone" data-parsley-error-message="*숫자만 입력해주세요." class="form-control phoneNumber userPhone" />
									</div>
								</div>		
								<div class="form-group row horizontal">
									<label class="control-label col-md-3 col-sm-3 label-align" for="userPay">기본급여 / 시급 *<span class="required"></span></label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="userPay" Pattern = "(^[0-9]*$)" data-parsley-required="(^[0-9]*$)"
										data-parsley-error-message="*필수 입력사항 : 숫자만 입력해주세요." name="userPay" class="form-control userPay" required="required" />
									</div>
									<label class="control-label label-align" style="font-size: 15px;">원</label>
								</div>								
								<div class="form-group row horizontal">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="userWorkTime">소정 근로시간(일일) *</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="userWorkTime" Pattern = "(^[0-9]*$)" data-parsley-required="(^[0-9]*$)"
										name="userWorkTime" data-parsley-error-message="숫자만 입력해주세요." class="form-control userWorkTime" required='required' />
									</div>
									<label class="control-label label-align" style="font-size: 15px;">시간</label>
								</div>
								
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="userBankName">은행명 * <span class="required"></span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="userBankName" name="userBankName" required="required" class="form-control userBankName"/>												
									</div>	
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="userBankAcount">계좌번호 * <span class="required"></span>
									</label>
									<div class="col-md-6 col-sm-6 ">								
										<input type="text" id="userBankAcount" Pattern = "(^[0-9]*$)" data-parsley-required="(^[0-9]*$)"
										name="userBankAcount" data-parsley-error-message="*필수 입력사항 : 숫자만 입력해주세요." class="form-control userBankAcount" required='required' />
									</div>
								</div>					
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="userAgreement">근로계약서 *</label>						
									<div class="btn-group">
										<a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"></a>
										<input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" name="userAgreement"/>								
									</div>								
								</div>								
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="userHealthCard">보건증 *</label>
									<div class="btn-group">
										<a class="btn" title="Insert picture (or just drag & drop)" id="userHealthCard"></a>
										<input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" name="userHealthCard" />
									</div>		
								</div>								

								<div class="ln_solid"></div>
								<div class="form-group row">
									<div class="col-md-4 col-sm-8 offset-md-4 text-center">
										<button class="btn btn-primary" type="button">등록 취소</button>
										<button class="btn btn-primary" type="reset">다시 작성</button>
										<button type="submit" class="btn btn-success">등록 하기</button>
									</div>
								</div>
							</form>
							<!-- 메인콘텐츠 End -->
						</div>
					</div>
				</div>
			</div>		
		</div>
	</th:block>
	
	
	
	<th:block layout:fragment="customJs">
		<!-- bootstrap-daterangepicker -->
		<script th:src="@{/vendors/moment/min/moment.min.js}"></script>
		<script th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
		<!-- bootstrap-wysiwyg -->
		<script th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
		<script th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
		<script th:src="@{/vendors/google-code-prettify/src/prettify.js}"></script>
		<!-- jQuery Tags Input -->
		<script th:src="@{/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
		<!-- Switchery -->
		<script th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
		<!-- Select2 -->
		<script th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
		<!-- Parsley -->
		<script th:src="@{/vendors/parsleyjs/dist/parsley.js}"></script>
		<!-- Autosize -->
		<script th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
		<!-- jQuery autocomplete -->
		<script th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
		<!-- starrr -->
		<script th:src="@{/vendors/starrr/dist/starrr.js}"></script>
		<script type="text/javascript">
			$(document).on("keyup", ".phoneNumber", function() { $(this).val( $(this).val().replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-") ); });

		
		</script>
	
	</th:block>	
	

</html>