<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>직원 조회</title>
	</th:block>

	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
			<table border="1" class="table">
				<thead>
						<tr>
							<th>아이디</th>
							<th>비밀번호</th>
							<th>사업장코드</th>
							<th>이름</th>
							<th>레벨코드</th>
							<th>입사일</th>
							<th>퇴사일</th>
							<th>핸드폰번호</th>
							<th>기본급여/시급</th>
							<th>소정근로시간(일일)</th>
							<th>은행명</th>
							<th>계좌번호</th>
							<th>근로계약서</th>
							<th>직원보건증</th>
							<th>등록날짜</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ul : ${userList}">
						<td th:text="${ul.userId}">
						<td th:text="${ul.userPw}">
						<td th:text="${ul.storeInfoCode}">
						<td th:text="${ul.userName}">
						<td th:text="${ul.levelCode}">
				 	<td th:text="${ul.userJoinDate}">
						<td th:text="${ul.userOutDate}">
						<td th:text="${ul.userPhone}">
						<td th:text="${ul.userPay}">
						<td th:text="${ul.userWorkTime}">
							<td th:text="${ul.userBankName}">
						<td th:text="${ul.userBankAcount}">
						<td th:text="${ul.userAgreement}">
						<td th:text="${ul.userHealthCard}">
						<td th:text="${ul.userRegDate}">
						</tr>
					</tbody>	
			</table>
		</div>
	</th:block>

</html>