<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>사업장 등록</title>
</th:block>

	<th:block layout:fragment="customCss">
			<!-- bootstrap-wysiwyg -->
		<link th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}" rel="stylesheet">
		<!-- Select2 -->
		<link th:href="@{/vendors/select2/dist/css/select2.min.css}" rel="stylesheet">
		<!-- Switchery -->
		<link th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet">
		<!-- starrr -->
		<link th:href="@{/vendors/starrr/dist/starrr.css}" rel="stylesheet">
		<!-- bootstrap-daterangepicker -->
		<link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
	</th:block>
	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
						<div class="x_title">
							<h2>사업장 수정</h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<br />
							<!-- 메인콘텐츠 Start -->
							<form th:action="@{/store/modifystore}" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
																	
								<input type="hidden" name="storeInfoCode"  th:value="${storeDto.storeInfoCode}">	
								
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="storeInfoName" >상호명 * <span class="required"></span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="storeInfoName" name="storeInfoName" th:value="${storeDto.storeInfoName}" required="required" class="form-control storeInfoName"/>												
									</div>	
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="storeInfoLicenseNumber">사업자 번호 * <span class="required"></span>
									</label>
									<div class="col-md-6 col-sm-6 ">								
										<input type="text" id="storeInfoLicenseNumber" data-inputmask="'mask': '999-99-99999'" th:value="${storeDto.storeInfoLicenseNumber}"
										name="storeInfoLicenseNumber" data-parsley-error-message="*필수 입력사항 " class="form-control" required='required' placeholder="000-00-00000"/>
									</div>
								</div>		
								
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="storeInfoIndustryType">업종 * <span class="required"></span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="storeInfoIndustryType" name="storeInfoIndustryType" th:value="${storeDto.storeInfoIndustryType}" required="required" class="form-control storeInfoIndustryType"/>												
									</div>	
								</div>
								
								
							
								<div class="form-group row form-inline">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="storeInfoAddr">
									</label>
										<div class="col-md-6 col-sm-6">
									
												<input type ="text" name="storeInfoZipCode" id="storeInfoZipCode" th:value="${storeDto.storeInfoZipCode}" placeholder = "우편번호" class="form-control" readonly>									
												<input type = "button" class="btn btn-info btn-sm" value ="주소찾기" onclick="execDaumPostcode()">

										</div>
										
								</div>
							
							
								
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="storeInfoAddr">주소
									</label>
									<div class="col-md-6 col-sm-6 ">
									<input type="text" id="storeInfoAddr" name="storeInfoAddr" placeholder="주소찾기 버튼을 눌러주세요." th:value="${storeDto.storeInfoAddr}" class="form-control storeInfoAddr" readonly/>
									</div>		
								</div>
								
								
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="storeInfoAddr">상세주소
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type = "text" name="storeInfoAddr2" id ="storeInfoAddr2" th:value="${storeDto.storeInfoAddr2}" placeholder ="상세주소를 입력해주세요"  class="form-control storeInfoAddr2" >	
									</div>		
								</div>
								
								
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="storeInfoPhone">사업장 전화번호
									</label>
									<div class="col-md-6 col-sm-6 ">								
										<input type="text" id="storeInfoPhone" name="storeInfoPhone" th:value="${storeDto.storeInfoPhone}" class="form-control storeInfoPhone" />
									</div>
								</div>

								<div class="ln_solid"></div>
								<div class="form-group row">
									<div class="col-md-4 col-sm-8 offset-md-4 text-center">
										<button class="btn btn-primary" type="reset">다시 작성</button>
										<button type="submit" class="btn btn-success">수정 하기</button>
									</div>
								</div>
							</form>
							<!-- 메인콘텐츠 End -->
						</div>
					</div>
				</div>
			</div>		
		</div>
	</th:block>
	
	
	
	<th:block layout:fragment="customJs">
	<!-- bootstrap-daterangepicker -->
	<script th:src="@{/vendors/moment/min/moment.min.js}"></script>
	<script th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
	<!-- bootstrap-wysiwyg -->
	<script th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
	<script th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
	<script th:src="@{/vendors/google-code-prettify/src/prettify.js}"></script>
	<!-- jQuery Tags Input -->
	<script th:src="@{/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
	<!-- Switchery -->
	<script th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
	<!-- Select2 -->
	<script th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
	<!-- Parsley -->
	<script th:src="@{/vendors/parsleyjs/dist/parsley.js}"></script>
	<!-- Autosize -->
	<script th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
	<!-- jQuery autocomplete -->
	<script th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
	<!-- starrr -->
	<script th:src="@{/vendors/starrr/dist/starrr.js}"></script>
	
	<!-- input mask 스크립트 0325 추가 -->
    <!-- jquery.inputmask -->
    <script src="../vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- 연락처 스크립트 -->
	<script type="text/javascript">
		$(document).on("keyup", ".storeInfoPhone", function() { $(this).val( $(this).val().replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-") ); });

	</script>
	<!-- 카카오 우편 시작 -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

		<script>
	    function execDaumPostcode() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
	                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var addr = ''; // 주소 변수
	                var extraAddr = ''; // 참고항목 변수
	
	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                    addr = data.roadAddress;
	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                    addr = data.jibunAddress;
	                }
	
	                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
	                if(data.userSelectedType === 'R'){
	                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	                        extraAddr += data.bname;
	                    }
	                    // 건물명이 있고, 공동주택일 경우 추가한다.
	                    if(data.buildingName !== '' && data.apartment === 'Y'){
	                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	                    }
	                
	                } else {
	                    
	                }
	
	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
	                document.getElementById('storeInfoZipCode').value = data.zonecode;
	                document.getElementById("storeInfoAddr").value = addr;
	                // 커서를 상세주소 필드로 이동한다.
	                document.getElementById("storeInfoAddr2").focus();
	            }
	        }).open();
	    }
	</script>

	
	</th:block>	
	

</html>