<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>재고 조사 내역 등록</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<!-- bootstrap-wysiwyg -->
		<link th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}" rel="stylesheet">
		<!-- Select2 -->
		<link th:href="@{/vendors/select2/dist/css/select2.min.css}" rel="stylesheet">
		<!-- Switchery -->
		<link th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet">
		<!-- starrr -->
		<link th:href="@{/vendors/starrr/dist/starrr.css}" rel="stylesheet">
		<!-- bootstrap-daterangepicker -->
		<link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
						<div class="x_title">
							<h2>재고 조사 내역 등록 <small>different form elements</small></h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<br />
							<form id="demo-form2" th:action="@{addskk}" method="POST" data-parsley-validate class="form-horizontal form-label-left">

								<div class="form-group row">
									<label class="control-label col-md-3 col-sm-3 label-align">품목 명 <span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 ">
										<!-- session Id  -->
										<input type="hidden" name="storeInfoCode" th:value="${session.SSTORECODE}">
										<input type="hidden" name="stockCode" id="stockCode">
										<select class="form-control" required="required" name="articleCode" id="articleCode">
											<th:block th:each="al : ${articleList}">
												<option th:value="${al.articleCode}" data-index="0" th:text="${al.articleName}"></option>
											</th:block>
											<option value="" selected="selected">선택해주세요.</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="skNowVolume">현재 용량 <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="skNowVolume" name="skNowVolume" required="required" class="form-control" readonly="readonly">
									</div>
									<div><label style="font-size: medium; color: black;" class="control-label label-align articleDan"></label></div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="skProbeVolume">조사 용량 <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="skProbeVolume" name="skProbeVolume" required="required" class="form-control">
									</div>
									<div><label style="font-size: medium; color: black;" class="control-label label-align articleDan"></label></div>
								</div>
								<div class="form-group row"> 
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="skErrorVolume">오차 용량 <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="skErrorVolume" name="skErrorVolume" required="required" class="form-control" readonly="readonly">
									</div>
									<div><label style="font-size: medium; color: black;" class="control-label label-align articleDan"></label></div>
								</div>
								<div class="form-group row"> 
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="skErrorPriceTotal">손실 원가 <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="skErrorPriceTotal" name="skErrorPriceTotal" required="required" class="form-control">
									</div>
								</div>
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align">조사 날짜 <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="skDate" name="skDate" class="date-picker form-control" placeholder="연도-월-일" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)" />
										<script>
											function timeFunctionLong(input) {
												setTimeout(function() {
													input.type = 'text';
												}, 60000);
											}
										</script>
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3 col-sm-3 label-align">상세
									</label>
									<div class="col-md-6 col-sm-6 ">
										<textarea class="form-control" name="skEtc" rows="3" placeholder="자세한 사항을 기입해주세요"></textarea>
									</div>
								</div>
								<div class="ln_solid"></div>
							</form>
							<div class="form-group row">
								<div class="col-md-6 col-sm-6 offset-sm-3 text-center">
									<button class="btn btn-primary" type="button" id="cancelBtn">Cancel</button>
									<button class="btn btn-warning" type="reset" id="resetBtn">Reset</button>
									<button class="btn btn-success" type="submit" id="submitBtn">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="customJs">
	<!-- bootstrap-daterangepicker -->
	<script th:src="@{/vendors/moment/min/moment.min.js}"></script>
	<script th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
	<!-- bootstrap-wysiwyg -->
	<script th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
	<script th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
	<script th:src="@{/vendors/google-code-prettify/src/prettify.js}"></script>
	<!-- jQuery Tags Input -->
	<script th:src="@{/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
	<!-- Switchery -->
	<script th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
	<!-- Select2 -->
	<script th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
	<!-- Parsley -->
	<script th:src="@{/vendors/parsleyjs/dist/parsley.js}"></script>
	<!-- Autosize -->
	<script th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
	<!-- jQuery autocomplete -->
	<script th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
	<!-- starrr -->
	<script th:src="@{/vendors/starrr/dist/starrr.js}"></script>
	
	<script  th:inline="javascript">
		var option = $('#articleCode').children('option');
		
		for(var i = 0 ; i < option.length; i++){
			option.eq(i).attr('data-index',i);
		}
		
		var articleList = /*[[${articleList}]]*/
		console.log(articleList);
		

		$('#articleCode').change(function(){
			var optionIndex = 99;
			for(var j = 0 ; j < option.length; j++){
				if(option.eq(j).is(':selected') && option.eq(j).val() != ''){
					optionIndex = option.eq(j).attr('data-index');
					$('.articleDan').text(articleList[optionIndex].articleDan);
				}
			}
			if(optionIndex != 99){
				var request = $.ajax({
					url: "getStockByArticleCode", 
					method: "POST",
					data: { articleCode : articleList[optionIndex].articleCode },
					dataType: "json"
				}); 
				request.done(function(data){
					if(data.length != 0){
						$('#stockCode').val(data[0].stockCode);
						$('#skNowVolume').val(data[0].stockNowVolume);
						$('#skProbeVolume').on('keyup' ,function(){
							$('#skErrorVolume').val(data[0].stockNowVolume-$(this).val());
							$('#skErrorPriceTotal').val(
								(data[0].stockNowVolume-$(this).val())  * data[0].stockMinUnit)
						});
					}else{
						$('#skProbeVolume').val('입고되지 않은 품목');
					}
				});
			}
		});
		
		$('#submitBtn').click(function(){
			$('#demo-form2').submit();
		});
		$('#resetBtn').click(function(){
			$('#demo-form2')[0].reset();
		})
		$('#cancelBtn').click(function(){
			location.href="/getskk";
		})
		$('#articleCode').mousedown(function(){
			$('#demo-form2')[0].reset();
		});
		
		
	</script>
	</th:block>
		
</html>