<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>품목별 재고 총 수량 조회</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<!-- Datatables -->
		<link th:href="@{/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
		
		<style>
			#selectInco{
				margin-bottom: 20px;
			}
			div input{
				margin-bottom: 10px;
			}
			
			.articledan{
				font-size: medium;
				color: black;
				padding-top: 6px;
				padding-right: 6px;
			}
			.input-label{
				padding-left : 10px;
			}
			
			.right-padding-remove{
				padding-right : 0px;
			}
			
			.x_panel{
				min-height: 880px;
			}
			
			.deadLineSelectBox-td{
				width : 35%;
			}
			.float-right{
				float: right;
				color: gray;
			}
		</style>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
			<div class="row">
				<div class="col-md-8">
					<div class="x_panel">
						 <div class="x_title">
			                <h2>품목별 재고 총 수량 조회</h2>
			                <!-- 상단 옵션네비바 시작 -->
							<ul class="nav navbar-right panel_toolbox">
								<li>
									<a th:href="@{getstock}" type="button" class="btn btn-primary btn-sm" id="">품목별 소모량 보기</a>
								</li>
								<li>
									<a th:href="@{gettotalstock}" type="button" class="btn btn-primary btn-sm" id="">매입별 소모량 보기</a>
								</li>
							</ul>
							<!-- 상단 옵션네비바 끝 -->
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="row">
								<div class="col-sm-12">
									<div class="card-box table-responsive">
										<p class="text-muted font-13 m-b-30">
											여기에 설명써주시면됩니다.
											<code>강조!</code>
										</p>
										<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
											<thead>
												<tr>
													<!-- 
													<th>일 품목소모량 코드</th>
													<th>사업장 코드</th>
													<th>상호명</th>
													 -->
													<th>품목명</th>
													<th>판매 수량</th>
													<th>소모용량 소계</th>
													<th>마감</th>
												</tr>
											</thead>
											<tbody>
												<tr th:if="${#lists.size(dailyVolDeadLineList)>0}" th:each="dvl : ${dailyVolDeadLineList}">
													<!--
												 	<td th:text="${dvl.storeInfoCode}"></td>
													<td th:text="${dvl.storeInfoName}"></td>
													 -->
													<td th:text="${dvl.articleName}"></td>
													<td th:text="${dvl.salesCount}"></td>
													<td>
														<span>[[${dvl.dailyvolSubtotal}]]</span>
														<span class="float-right">[[${dvl.conDan}]]</span>
													</td>
													<td class="deadLineSelectBox-td"> 
														<select class="form-control deadLineSelectBox" data-index="0">
															<option th:value="0" th:text="선택해주세요."></option>
															<th:block th:each="tsl : ${totalStockList}">
																<option th:if="${tsl.articleCode == dvl.articleCode}" 
																		th:text="${tsl.articleDto.articleName}+' &nbsp&nbsp'+${tsl.incoDate}"
																		th:value="${tsl.incoCode}">
																</option>
															</th:block>
														</select>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="x_panel">
						 <div class="x_title">
			                <h2>마감 품목 상세 조회</h2>
			                <!-- 상단 옵션네비바 시작 -->
							<ul class="nav navbar-right panel_toolbox">
								<li>
									<button type="button" class="btn btn-primary btn-sm" id="submitBtn">마감하기</button>
								</li>
							</ul>
							<!-- 상단 옵션네비바 끝 -->
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="row">
								<div class="col-sm-12">
									<div class="card-box table-responsive">
										<p class="text-muted font-13 m-b-30">
											여기에 설명써주시면됩니다.
											<code>강조!</code>
										</p>
									</div>
									<div>
										<form th:action="@{getdailyvolDeadLine}" method="POST" id="demo-form2">
											<input type="hidden" name="storeInfoCode" th:value="${session.SSTORECODE}">
											

											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">잔여 용량 * <span class="required"></span>	</label>
												<div class="col-md- 7 col-sm-7">
													<input type="text" name="detailvolRemainVolume" id="detailvolRemainVolume" readonly="readonly" class="form-control valueReset">
												</div>
												<div><label class="control-label label-align articleDan"></label></div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">사용 용량 * <span class="required"></span>	</label>
												<div class="col-md- 7 col-sm-7">
													<input type="text" name="detailvolVolumeTotal" id="detailvolVolumeTotal" readonly="readonly" class="form-control valueReset">
												</div>
												<div><label class="control-label label-align articleDan"></label></div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">용량 합계 * <span class="required"></span>	</label>
												<div class="col-md- 7 col-sm-7">
													<input type="text" name="volumeTotal" 	id="volumeTotal"	readonly="readonly"  class="form-control valueReset">
												</div>
												<div><label class="control-label label-align articleDan"></label></div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">일품 코드 * <span class="required"></span>	</label>
												<div class="col-md- 7 col-sm-7">
													<input type="text" name="dailyvolCode" 	id="dailyVolCode"	readonly="readonly"  class="form-control valueReset">
												</div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">입고 코드 * <span class="required"></span>	</label>
												<div class="col-md- 7 col-sm-7">
													<input type="text" name="incoCode" 		id="incoCode"		readonly="readonly"  class="form-control valueReset">
												</div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">품목재고관리 코드 * <span class="required"></span>	</label>
												<div class="col-md- 7 col-sm-7">
													<input type="text" name="detailvolCode" 		id="detailvolCode"		readonly="readonly"  class="form-control valueReset">
												</div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">입고 용량 * <span class="required"></span>	</label>
												<div class="col-md- 7 col-sm-7">
													<input type="text" name="incoVolumeSubtotal" id="incoVolumeSubtotal" readonly="readonly" class="form-control valueReset">
												</div>
												<div><label class="control-label label-align articleDan"></label></div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">품목 코드 * <span class="required"></span>	</label>
												<div class="col-md- 7 col-sm-7">
													<input type="text" name="articleCode" 	id="articleCode"	readonly="readonly"  class="form-control valueReset">
												</div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">소모 단계 * <span class="required"></span>	</label>
												<div class="col-md- 7 col-sm-7">
													<input type="text" name="incoCheck" 	id="incoCheck"		readonly="readonly"  class="form-control valueReset">
												</div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">입고 수량 * <span class="required"></span>	</label>
												<div class="col-md- 7 col-sm-7">
														<input type="text" name="incoCount" 	id="incoCount"		readonly="readonly"  class="form-control valueReset">
												</div>
												<div><label class="control-label label-align articleDan"></label></div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">품목 용량 * <span class="required"></span>	</label>
												<div class="col-md- 7 col-sm-7">
													<input type="text" name="articleVolume" id="articleVolume"	readonly="readonly"  class="form-control valueReset">
												</div>
												<div><label class="control-label label-align articleDan"></label></div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">판매 수량 * <span class="required"></span>	</label>
												<div class="col-md- 7 col-sm-7">
													<input type="text" name="salesCount" 	id="salesCount"		readonly="readonly"  class="form-control valueReset">
												</div>
												<div><label class="control-label label-align articleDan"></label></div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">잔여 수량	 * <span class="required"></span>	</label>
												<div class="col-md- 7 col-sm-7">
													<input type="text" name="detailvolRemainCount" id="detailvolRemainCount" readonly="readonly" class="form-control valueReset">
												</div>
												<div><label class="control-label label-align articleDan"></label></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customJs">
		<!-- customJs -->
		<script th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
		<script th:src="@{/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
		<script th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
		<script	th:src="@{/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
		<script th:src="@{/vendors/jszip/dist/jszip.min.js}"></script>
		<script th:src="@{/vendors/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/vendors/pdfmake/build/vfs_fonts.js}"></script>
		
		<script th:inline="javascript"> 
			$('#submitBtn').click(function(){
				if($('#incoVolumeSubtotal').val() != ''){
					$('#demo-form2').submit();
				}else{
					alert('마감할 품목을 선택 해주세요.');
				}
			});
			var deadLineSelectBox = $('.deadLineSelectBox');
			deadLineSelectBox.mousedown(function(){
				$('.deadLineSelectBox option').prop("selected",false);
				$('.valueReset').val('');
			});
			deadLineSelectBox.change(function(){
				
				for(var i = 0 ; i < deadLineSelectBox.length; i++){
					deadLineSelectBox.eq(i).attr('data-index',i);
				}
				var incoCode = $(this).val();
				var dataIndex = $(this).attr('data-index');
				var dvl = /*[[${dailyVolDeadLineList}]]*/
				console.log(incoCode);
				console.log(dataIndex);
				
				if(incoCode != 0){
					var request = $.ajax({
						url: "getIncomeList", 
						method: "POST",
						data: { incoCode : incoCode },
						dataType: "json"
					}); 
	
					request.done(function( data ) {
						console.log(data[0].articleCode);
						
						$('#incoVolumeSubtotal').val(data[0].incoVolumeSubtotal);
						$('#detailvolRemainVolume').val(data[0].detailvolRemainVolume);
						$('#detailvolVolumeTotal').val(dvl[dataIndex].dailyvolSubtotal);
						$('#dailyVolCode').val(dvl[dataIndex].dailyvolCode);
						$('#incoCode').val(data[0].incoCode);
						$('#detailvolCode').val(data[0].detailvolCode);
						$('#articleCode').val(data[0].articleCode);
						$('#incoCheck').val(data[0].incoCheck);
						$('#incoCount').val(data[0].incoCount);
						$('#articleVolume').val(data[0].incoVolumeSubtotal/data[0].incoCount);
						$('#volumeTotal').val((data[0].detailvolRemainVolume-dvl[dataIndex].dailyvolSubtotal));
						$('#salesCount').val(dvl[dataIndex].salesCount);
						$('#detailvolRemainCount').val(data[0].detailvolRemainCount);
						$('.articleDan').text(data[0].articleDto.articleDan)
						
					});
					request.fail(function( data ) {
						console.log('aaaaaaaaaaaaaa');
					});
				}
			});
		</script>
	</th:block>
</html>