<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>품목별 재고 총 수량 조회</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<!-- Datatables -->
		<link th:href="@{/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
		
		<style>
			#selectInco{
				margin-bottom: 10px;
			}
			.modal-body-text{
				margin-left: 5px;
			}
		</style>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
			<div class="col-md-12 col-sm-12 ">
				<div class="x_panel">
					 <div class="x_title">
		                <h2>품목별 재고 총 수량 조회</h2>
		                
		                <!-- 상단 옵션네비바 시작 -->
						<ul class="nav navbar-right panel_toolbox">
							<li>
								<a id="deadLineBtn" class="btn btn-warning" th:href="@{getdailyvolDeadLine}">마감</a>
							</li>
						</ul>
						<!-- 상단 옵션네비바 끝 -->
							
						<div class="clearfix"></div>
							
					</div>
					<div class="x_content">
						<div class="row">
							<div class="col-sm-12">
								<div class="card-box table-responsive">
									<p class="text-muted font-13 m-b-30">
										여기에 설명써주시면됩니다.
										<code>강조!</code>
									</p>
									<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>일 품목소모량 코드</th>
												<th>사업장 코드</th>
												<th>상호명</th>
												<th>품목명</th>
												<th>소모용량 소계</th>
												<th>단위</th>
												<th>마감</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="dvl : ${dailyVolDeadLineList}">
												<td th:text="${dvl.dailyvolCode}"></td>
												<td th:text="${dvl.storeInfoCode}"></td>
												<td th:text="${dvl.storeInfoName}"></td>
												<td th:text="${dvl.articleName}"></td>
												<td th:text="${dvl.dailyvolSubtotal}"></td>
												<td th:text="${dvl.conDan}"></td>
												<td> 
													<a type="button" class="deadLineBtn" data-toggle="modal" data-target="#deadLine"	 th:value="${dvl.articleCode}">
														 마감
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- deadLine Modal -->
		<div class="modal fade" id="deadLine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" id="myModalLabel">사용할 입고품목을 선택해주세요</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			      </div>
			      <div class="modal-body">
				   	   사용할 입고품목을 선택해주세요
				   	  <select class="form-control" id="selectInco">
				   	 	 <!-- option = ajax 실행결과값 -->
				   	  </select>
				   	  <div class="modal-body-text">
				   	   
				   	  </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
			        <button type="button" class="btn btn-primary" id="submitBtn">마감</button>
			      </div>
			    </div>
		 	</div>
		</div>
	</th:block>
	<th:block layout:fragment="customJs">
		<!-- customJs -->
		<script th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
		<script th:src="@{/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
		<script th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
		<script	th:src="@{/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
		<script th:src="@{/vendors/jszip/dist/jszip.min.js}"></script>
		<script th:src="@{/vendors/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/vendors/pdfmake/build/vfs_fonts.js}"></script>
		
		<script>
			var incoData ; 
			$('.deadLineBtn').click(function(){
				var selectInco = $('#selectInco');
				var articleCode = $(this).attr('value');
				var modalBody = $('.modal-body');
				var request = $.ajax({
					url: "getIncomeList", 
					method: "POST",
					data: { articleCode : articleCode },
					dataType: "json"
				});
				request.done(function( data ) {
					selectInco.children('option').remove();
					selectInco.append('<option value="null">품목을 선택해주세요</option>');
					for(var i = 0 ; i < data.length; i++){
						console.log(data[i].incoCheck)
						if(data[i].incoCheck < 3){
							selectInco.append('<option data-change="'
												+ i +'" value="' 
												+ data[i].incoCode +'"> '
												+ data[i].articleName
												+'  , 입고 날짜 : [ '
												+ data[i].incoDate 
												+' ]</option>'
											);
						}
					}
					selectInco.change(function(){
						var selectIncoNum = $('#selectInco option:selected').attr('data-change');
						modalBody.children('div').remove();
						if(selectIncoNum != null){
							modalBody.append('<div class="modal-body-text">' 
									+	'<h5> 입고날짜 : '+data[selectIncoNum].incoDate + '</h5>' 
									+	'<h5> 입고용량 : '+data[selectIncoNum].incoVolumeSubtotal + '</h5>' 
									+	'</div>'
									);
						}
					});
					
				});
				request.fail(function( data ) {
					console.log('a'	);
				});
			});
			$('#submitBtn').click(function(){
				
			});

		</script>
	</th:block>
</html>