<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>재고 조사 등록</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<!-- Datatables -->
		<link th:href="@{/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
		
		<style>
			#selectInco{
				margin-bottom: 20px;
			}
			div input{
				margin-bottom: 10px;
			}
			
			.articledan{
				font-size: medium;
				color: black;
				padding-top: 6px;
				padding-right: 6px;
			}
			.input-label{
				padding-left : 10px;
			}
			
			.right-padding-remove{
				padding-right : 0px;
			}
			
			.x_panel{
				min-height: 880px;
			}
			
			.deadLineSelectBox-td{
				width : 35%;
			}
			.float-right{
				float: right;
				color: gray;
			}
			.articleDan{
				margin-top: 10px;
			}
			.articleBigDan{
				margin-top: 10px;
			}
		</style>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
			<div class="row">
				<div class="col-md-8">
					<div class="x_panel">
						 <div class="x_title">
			                <h2>재고 조사 등록</h2>
			                <!-- 상단 옵션네비바 시작 -->
							<ul class="nav navbar-right panel_toolbox">
								<li>
									<a th:href="@{/stock/getStock}" class="btn btn-dark btn-sm">품목별 소모량 보기</a>
								</li>
								<li>
									<a th:href="@{/stock/getTotalStock}" class="btn btn-dark btn-sm">매입별 소모량 보기</a>
								</li>
							</ul>
							<!-- 상단 옵션네비바 끝 -->
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="row">
								<div class="col-sm-12">
									<div class="card-box table-responsive">
										<p class="text-muted font-13 m-b-30">
											여기에 설명써주시면됩니다.
											<code>강조!</code>
										</p>
										<table id="datatable-fixed-header" class="table table-striped table-bordered" style="width:100%">
											<thead>
												<tr>
													<th>품목명</th>
													<!-- <th>현재재고용량</th> -->
													<th>조사재고용량</th>
													<th>오차재고용량</th>
													<!-- <th>오차금액</th> -->
													<th>상세</th>
													<th>조사날짜</th>
													<th>선택</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="skkl :${skkList}">
													<!-- 
													<td th:text="${skkl.skCode}"></td>
													<td th:text="${skkl.storeInfoCode}"></td>
													<td th:text="${skkl.storeInfoName}"></td>
													<td th:text="${skkl.stockCode}"></td>
													<td th:text="${skkl.articleCode}"></td> 
													<td th:text="${skkl.stockMinUnit}"></td>
													-->
													<td>
														<span>[[${skkl.articleName}]]</span>
													</td>
													<!-- 
													<td>
														<span>[[${skkl.skNowVolume}]]</span>
														<span class="float-right">[[${skkl.articleDan}]]</span>
													</td>
													 -->
													<td>
														<span>[[${skkl.skProbeVolume}]]</span>
														<span class="float-right">[[${skkl.articleDan}]]</span>
													</td>
													<td>
														<span>[[${skkl.skErrorVolume}]]</span>
														<span class="float-right">[[${skkl.articleDan}]]</span>
													</td>
													<!--
													<td>
														<span>[[${skkl.skErrorPriceTotal}]]</span>
														<span class="float-right">₩</span>
													</td>
													-->
													<td>
														<span>[[${skkl.skEtc}]]</span>
													</td>
													<td>
														<span>[[${skkl.skDate}]]</span>
													</td>
													<td class="deadLineSelectBox-td">
														<select class="form-control deadLineSelectBox" data-index="0">
															<option th:value="0" th:text="선택해주세요."></option>
															<th:block th:each="tsl : ${totalStockList}">
																<option th:if="${tsl.articleCode == skkl.articleCode}" 
																		th:text="${tsl.articleDto.articleName}+' &nbsp&nbsp'+${tsl.incoDate}"
																		th:value="${tsl.incoCode}">
																</option>	
															</th:block>
														</select>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="x_panel">
						 <div class="x_title">
			                <h2>마감 품목 상세 조회</h2>
			                <!-- 상단 옵션네비바 시작 -->
							<ul class="nav navbar-right panel_toolbox">
								<li>
									<button type="button" class="btn btn-primary btn-sm" id="submitBtn">마감하기</button>
								</li>
							</ul>
							<!-- 상단 옵션네비바 끝 -->
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="row">
								<div class="col-sm-12">
									<div class="card-box table-responsive">
										<p class="text-muted font-13 m-b-30">
											여기에 설명써주시면됩니다.
											<code>강조!</code>
										</p>
									</div>
									<div>
										<form th:action="@{/stock/getSkkDeadLine}" method="POST" id="demo-form2">
											<input type="hidden" name="storeInfoCode" th:value="${session.SSTORECODE}">
											

											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">잔여 용량 </label>
												<div class="col-md-7 col-sm-7">
													<input type="text" name="detailvolRemainVolume" id="detailvolRemainVolume" readonly="readonly" class="form-control valueReset">
												</div>
												<label class="control-label label-align articleDan"></label>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">오차 용량 </label>
												<div class="col-md-7 col-sm-7">
													<input type="text" name="detailvolVolumeTotal" id="detailvolVolumeTotal" readonly="readonly" class="form-control valueReset">
												</div>
												<div><label class="control-label label-align articleDan"></label></div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">용량 계  = </label>
												<div class="col-md-7 col-sm-7">
													<input type="text" name="volumeTotal" 	id="volumeTotal"	readonly="readonly"  class="form-control valueReset">
												</div>
												<label class="control-label label-align articleDan"></label>
											</div>
											<div>
												<!-- <label class="col-form-label label-align input-label">입고 코드 </label> -->
												<input type="hidden" name="detailvolCode" 	id="detailvolCode"		readonly="readonly"  class="form-control valueReset">
												<!-- <label class="col-form-label label-align input-label">입고 코드 </label> -->
												<input type="hidden" name="incoCode" 		id="incoCode"		readonly="readonly"  class="form-control valueReset">
												<!-- <label class="col-form-label label-align input-label">재고 코드 </label> -->
												<input type="hidden" name="stockCode" 		id="stockCode"			readonly="readonly"  class="form-control valueReset">
												<!-- <label class="col-form-label label-align input-label">재고조사 코드 </label> -->
												<input type="hidden" name="skCode" 			id="skCode"			readonly="readonly"  class="form-control valueReset">
												<!-- <label class="col-form-label label-align input-label">품목 코드 </label> -->
												<input type="hidden" name="articleCode" 	id="articleCode"	readonly="readonly"  class="form-control valueReset">
												<!-- <label class="col-form-label label-align input-label">최소단위 원가 </label> -->
												<input type="hidden" name="skErrorPriceTotal" 	id="skErrorPriceTotal"	readonly="readonly"  class="form-control valueReset">
												<!-- <label class="col-form-label label-align input-label">현재 용량 </label> -->
												<input type="hidden" name="skNowVolume" 	id="skNowVolume"	readonly="readonly"  class="form-control valueReset">
												<!-- <label class="col-form-label label-align input-label">조사 용량 </label> -->
												<input type="hidden" name="skProbeVolume" 	id="skProbeVolume"	readonly="readonly"  class="form-control valueReset">
												<!-- <label class="col-form-label label-align input-label">오차 용량 </label> -->
												<input type="hidden" name="skErrorVolume" 	id="skErrorVolume"	readonly="readonly"  class="form-control valueReset">
												<!-- <label class="col-form-label label-align input-label">재고조사날짜 </label> -->
												<input type="hidden" name="skDate" 			id="skDate"	readonly="readonly"  class="form-control valueReset">
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">소모 단계 </label>
												<div class="col-md-7 col-sm-7">
													<input type="hidden" name="incoCheck" 	id="incoCheck"		readonly="readonly"  class="form-control valueReset">
													<input type="text" 	 name="detailvolCheckString" 	id="detailvolCheckString"		readonly="readonly"  class="form-control valueReset">
												</div>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">입고 용량 </label>
												<div class="col-md-7 col-sm-7">
													<input type="text" name="incoVolumeSubtotal" id="incoVolumeSubtotal" readonly="readonly" class="form-control valueReset">
												</div>
												<label class="control-label label-align articleDan"></label>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">입고 수량 </label>
												<div class="col-md-7 col-sm-7">
														<input type="text" name="incoCount" 	id="incoCount"		readonly="readonly"  class="form-control valueReset">
												</div>
												<label class="control-label label-align articleBigDan"></label>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">품목 용량 </label>
												<div class="col-md-7 col-sm-7">
													<input type="text" name="articleVolume" id="articleVolume"	readonly="readonly"  class="form-control valueReset">
												</div>
												<label class="control-label label-align articleDan"></label>
											</div>
											<div class="form-group row horizontal">
												<label class="col-form-label label-align input-label">잔여 수량	</label>
												<div class="col-md-7 col-sm-7">
													<input type="text" name="detailvolRemainCount" id="detailvolRemainCount" readonly="readonly" class="form-control valueReset">
												</div>
												<label class="control-label label-align articleBigDan"></label>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customJs">
		<!-- customJs -->
		<script th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
		<script th:src="@{/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
		<script th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
		<script	th:src="@{/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
		<script th:src="@{/vendors/jszip/dist/jszip.min.js}"></script>
		<script th:src="@{/vendors/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/vendors/pdfmake/build/vfs_fonts.js}"></script>
		
		<script th:inline="javascript"> 
			var deadLineSelectBox = $('.deadLineSelectBox');
			deadLineSelectBox.mousedown(function(){
				$('.deadLineSelectBox option').prop("selected",false);
				$('.valueReset').val('');
			});
			deadLineSelectBox.change(function(){
				
				for(var i = 0 ; i < deadLineSelectBox.length; i++){
					deadLineSelectBox.eq(i).attr('data-index',i);
				}
				var dataIndex = $(this).attr('data-index');
				var incoCode = deadLineSelectBox.eq(dataIndex).val();
				var skkl = /*[[${skkList}]]*/
				console.log(incoCode);
				console.log(dataIndex);
				console.log(skkl[dataIndex]);
				
				if(incoCode != 0){
					var request = $.ajax({
						url: "/stock/getIncomeList", 
						method: "POST",
						data: { incoCode : incoCode },
						dataType: "json"
					}); 
	
					request.done(function( data ) {
						console.log(data[0].articleCode);
						$('#stockCode').val(skkl[dataIndex].stockCode);
						$('#detailvolRemainVolume').val(data[0].detailvolRemainVolume);
						$('#detailvolVolumeTotal').val(skkl[dataIndex].skErrorVolume);
						$('#detailvolCode').val(data[0].detailvolCode);
						$('#detailvolCheckString').val(data[0].detailvolCheckString);
						$('#detailvolRemainCount').val(data[0].detailvolRemainCount);
						$('#skCode').val(skkl[dataIndex].skCode);
						$('#skNowVolume').val(skkl[dataIndex].skNowVolume);
						$('#skProbeVolume').val(skkl[dataIndex].skProbeVolume);
						$('#skErrorVolume').val(skkl[dataIndex].skErrorVolume);
						$('#skErrorPriceTotal').val(skkl[dataIndex].skErrorPriceTotal)
						$('#skDate').val(skkl[dataIndex].skDate)
						$('#incoVolumeSubtotal').val(data[0].incoVolumeSubtotal);
						$('#incoCode').val(data[0].incoCode);
						$('#incoCheck').val(data[0].incoCheck);
						$('#incoCount').val(data[0].incoCount);
						$('#articleCode').val(data[0].articleCode);
						$('#articleVolume').val(data[0].incoVolumeSubtotal/data[0].incoCount);
						$('#volumeTotal').val(data[0].detailvolRemainVolume-skkl[dataIndex].skErrorVolume);
						$('.articleDan').text(data[0].articleDto.articleDan)
						$('.articleBigDan').text(data[0].articleDto.articleBigDan)
					});
					request.fail(function( data ) {
						console.log('aaaaaaaaaaaaaa');
					});
				}
			});
			
			$('#submitBtn').click(function(){
				$('#demo-form2').submit();
			});
		</script>
		
	</th:block>
</html>