<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>매입별 품목 재고 조회</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<!-- Datatables -->
		<link th:href="@{/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
		
		<style>
		.float-right{
			float: right;
			color: gray;
		}
		
		#submitBtn{
			margin-right: 15px;
			margin-bottom: 10px;
			color: white;
		}
		
		p{
			margin: 10px 0px 10px 15px;
		}
		ul.bar_tabs{
			background: #FFFFFF;
		}
		</style>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
			<div class="col-md-12 col-sm-12 ">
				
				<div class="x_panel">
					<div class="x_content">
		                <div class="" role="tabpanel" data-example-id="togglable-tabs">
	                        <ul id="myTab" class="nav nav-tabs bar_tabs">
		                        <li role="presentation" class="nav-item">
		                        	<a href="#tab_content1" id="content1-tab" role="tab" data-toggle="tab" 
		                        	   class="nav-link active" aria-controls="tab_content1" aria-expanded="true">실시간 품목 재고 조회</a>
		                        </li>
		                        <li role="presentation" class="nav-item">
		                        	<a href="#tab_content2" id="content2-tab" role="tab"  data-toggle="tab" 
		                        	   class="nav-link" aria-controls="tab_content2" aria-expanded="false">테이블 데이터 조회</a>
		                        </li>
	                        </ul>
							<div class="clearfix"></div>
							<div class="row">
								<div class="col-sm-12">
									<div class="card-box table-responsive">
										<div id="myTabContent" class="tab-content">
		                    				<div role="tabpanel" class="tab-pane fade show active" id="tab_content1" aria-labelledby="content1-tab">
												<p class="text-muted font-13 m-b-30">
													업데이트 버튼을 클릭하면 체크박스 체크된 품목이 데이터베이스의 테이블에 데이터가 업데이트됩니다.
													<a class="btn btn-primary btn-sm float-right" id="submitBtn">업데이트</a>
			                   					</p>
			                   					<table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width: 100%">
													<thead>
														<tr>
															<th><input type="checkbox" id="check-all"></th>
															<!--
															<th>재고관리코드</th>
															<th>사업장 코드</th>
															<th>상호명</th>
															<th>품목코드</th>
															<th>용량</th>
															<th>단위</th>
															-->
															<th>품목명</th>
															<th>입고 단가 합계</th>
															<th>최소 단위 단가</th>
															<th>입고 수량</th>
															<th>입고 용량 소계</th>
															<th>소모 수량</th>
															<th>소묘 용량 합계</th>
															<th>현재 수량</th>
															<th>현재 용량</th>
															<th>최신 입고 날짜</th>
														</tr>
													</thead>
													<tbody>
														<tr th:if="${#lists.size(stockList)>0}" th:each="sl:${stockList}">
															<td><input type="checkbox" class="checkBox" name="checkBox"></td>
															<!-- 		
															<td th:text="${sl.stockCode}"></td>
															<td th:text="${sl.storeInfoCode}"></td>
															<td th:text="${sl.storeInfoName}"></td>
															<td th:text="${sl.articleCode}"></td>
															<td th:text="${sl.articleVolume}"></td>
															<td th:text="${sl.articleDan}"></td>
															 -->
															<td th:text="${sl.articleDto.articleName}"></td>
															<td>
																<span>[[${sl.stockIncoUnitTotal}]]</span>
																<span class="float-right">₩</span>
															</td>
															<td>
																<span>[[${sl.stockMinUnit}]]</span>
																<span class="float-right">₩</span>
															</td>
															<td>
																<span>[[${sl.incoCount}]]</span>
																<span class="float-right">[[${sl.articleDto.articleBigDan}]]</span>
															</td>
															<td>
																<span>[[${sl.incoVolumeSubtotal}]]</span>
																<span class="float-right">[[${sl.articleDto.articleDan}]]</span>
															</td>
															<td>
																<span>[[${sl.stockConCount}]]</span>
																<span class="float-right">[[${sl.articleDto.articleBigDan}]]</span>
															</td>
															<td>
																<span>[[${sl.stocklVolumeTotal}]]</span>
																<span class="float-right">[[${sl.articleDto.articleDan}]]</span>
															</td>
															<td>
																<span>[[${sl.stockNowCount}]]</span>
																<span class="float-right">[[${sl.articleDto.articleBigDan}]]</span>
															</td>
															<td>
																<span>[[${sl.stockNowVolume}]]</span>
																<span class="float-right">[[${sl.articleDto.articleDan}]]</span>
															</td>
															<td>
																<span>[[${sl.stockRegDate}]]</span>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										<!-- 1번 탭 끝 -->
											<div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="content2-tab">
												<p class="text-muted font-13 m-b-30">
													데이터베이스의 테이블에 입력되어 있는 데이터 조회
			                   					</p>
												<div class="card-box table-responsive">
				                   					<table id="datatable" class="table table-striped table-bordered" style="width:100%">
														<thead>
															<tr>
																<!--
																<th>재고관리코드</th>
																<th>사업장 코드</th>
																<th>상호명</th>
																<th>품목코드</th>
																<th>용량</th>
																<th>단위</th>
																-->
																<th>품목명</th>
																<th>입고 단가 합계</th>
																<th>최소 단위 단가</th>
																<th>입고 수량</th>
																<th>입고 용량 소계</th>
																<th>소모 수량</th>
																<th>소묘 용량 합계</th>
																<th>현재 수량</th>
																<th>현재 용량</th>
																<th>최신 입고 날짜</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="stl:${getStockTableList}">
																<!-- 		
																<td th:text="${sl.stockCode}"></td>
																<td th:text="${sl.storeInfoCode}"></td>
																<td th:text="${sl.storeInfoName}"></td>
																<td th:text="${sl.articleCode}"></td>
																<td th:text="${sl.articleVolume}"></td>
																<td th:text="${sl.articleDan}"></td>
																 -->
																<td th:text="${stl.articleDto.articleName}"></td>
																<td>
																	<span>[[${stl.stockIncoUnitTotal}]]</span>
																	<span class="float-right">₩</span>
																</td>
																<td>
																	<span>[[${stl.stockMinUnit}]]</span>
																	<span class="float-right">₩</span>
																</td>
																<td>
																	<span>[[${stl.incoCount}]]</span>
																	<span class="float-right">[[${stl.articleDto.articleBigDan}]]</span>
																</td>
																<td>
																	<span>[[${stl.incoVolumeSubtotal}]]</span>
																	<span class="float-right">[[${stl.articleDto.articleDan}]]</span>
																</td>
																<td>
																	<span>[[${stl.stockConCount}]]</span>
																	<span class="float-right">[[${stl.articleDto.articleBigDan}]]</span>
																</td>
																<td>
																	<span>[[${stl.stocklVolumeTotal}]]</span>
																	<span class="float-right">[[${stl.articleDto.articleDan}]]</span>
																</td>
																<td>
																	<span>[[${stl.stockNowCount}]]</span>
																	<span class="float-right">[[${stl.articleDto.articleBigDan}]]</span>
																</td>
																<td>
																	<span>[[${stl.stockNowVolume}]]</span>
																	<span class="float-right">[[${stl.articleDto.articleDan}]]</span>
																</td>
																<td>
																	<span>[[${stl.stockRegDate}]]</span>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
										<!-- 2번탭 끝 -->
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customJs">
		<!-- customJs -->
		<script th:src="@{/vendors/datatables.net/js/jquery.dataTables.js}"></script>
		<script	th:src="@{/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
		<script th:src="@{/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
		<script th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script	th:src="@{/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
		<script	th:src="@{/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
		<script th:src="@{/vendors/jszip/dist/jszip.min.js}"></script>
		<script th:src="@{/vendors/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/vendors/pdfmake/build/vfs_fonts.js}"></script>
		
		<script th:inline="javascript">
			var checkAll = $('#check-all');
			var checkBox = $('.checkBox');
		
			checkAll.click(function(){
				if(checkAll.is(":checked")){
					checkBox.prop("checked", true);
				}else{
					checkBox.prop("checked", false);
				}
			});			
			checkBox.click(function(){
				if(checkBox.is(":checked").length == checkBox.length){
					checkAll.prop("checked", true);
				}else {
					checkAll.prop("checked", false);
				}
			});		
			$('#submitBtn').click(function(){
				var stockList = /*[[${stockList}]]*/
				var arrayStock = []; 
				
				if(checkBox.length != 0){
						
					checkBox.each(function(i){
						if(checkBox.eq(i).is(":checked")){
							arrayStock.push(stockList[i].articleCode);
						}
					})
					console.log(arrayStock);
					
					var request = $.ajax({
						method: "POST",
						url: "/stock/addStock", 
						dataType: "text",
						data: {"arrayStock" : arrayStock,
								"SSTORECODE" : stockList[0].storeInfoCode}
					});
					request.done(function( data ){
						console.log(data)
						location.reload();
					});
					request.fail(function( err){
						console.log(err)
					});
				
				}
			});
		    // Korean
		</script>
	</th:block>
</html>