<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
<th:block layout:fragment="customTitle">
	<title>메인 index</title>
</th:block>


<th:block layout:fragment="customContents">
	<div class="right_col" role="main">
		<!-- /top tiles -->
		<div class="row">
		<!-- cafe system 프로젝트 소개 시작 -->
			<div class="col-md-6 col-sm-6 ">
				<div class="x_panel tile">
					<div class="x_title">
						<h2>cafe system 프로젝트 소개</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content" style="text-align: center; height:500px; line-height:30px; overflow: auto;">
						<div>
							<h2>프로젝트명</h2>   <a style="color: #5D5D5D; font-size: 15px;">카페 매출 상승 및 원가분석을 통한 수요 공급 예측 관리 시스템</a><br><br>
							<h2>프로젝트 목적 <br></h2>
								<a style="color: #5D5D5D; font-size: 15px;">
								매장을 직접 운영하는 사장과 직원이 매장 안에서 어떤 변동 사항이 있는지 한 번에 파악하기 어려운 면이 있다. <br>
								여러 직원들의 급여 관리나 출퇴근 시간 관리, 매장 내에서의 업무 진행 간 협업이나 소통에 관한 사항 등은<br> 개별 문서로 관리하기가 어렵다. <br><br>
								이러한 점을 해결하기 위해 매장 운영 시스템을 제작하여 일관되고 체계적인 운영을 가능하게 하고 <br> 고객에게 균등한 서비스를 제공하며
								문제가 생겼을 때 빠르게 해결책을 제시하여 <br> 매장을 더욱 효율적으로 관리할 수 있도록 도움을 준다. <br><br>
								이외에도 매년 달라지는 세법 개정들과 그에 대한 무지로 인해 <br>'단' 하루 차이로 내지 않아도 될 세금을 내야 하는 상황들이 생긴다. <br>
								세금은 이미 납부하고 난 후에는 세무전문가가 아닌 일반인이 전반적인 세법을 이해하여<br> 대처하는 것이 사실상 어려운 일이기에 이러한 상황 또한 방지하고자 한다.</a><br><br>
							<h2>프로젝트 기대효과</h2>
								<a style="color: #5D5D5D; font-size: 15px;">
								세무 지식 부족으로 인하여 예기치 못한 손해를 보는 일을 줄이고 미리 정해진 양식으로 서포트한다.<br>
								알기 쉬운 세무정보와 인터페이스로 전문지식이 부족한 사용자에게 <br>스스로 미래 예상 비용을 확인하고 관리할 수 있게 하여
								세무관리의 능률을 높인다.<br> <br>
								매장관리, 고객 관리, 직원관리를 매뉴얼로 제작하여 <br>누가 사용하더라도 
								접근하기 쉽고 체계적인 운영을 할 수 있게<br> 도와주는 프로그램을 만들어 매장 관리 시에 필요한 전문성을 완화하고<br>
								여러 관리 사항을 한 번에 확인할 수 있도록 만들어 업무상의 효율을 증가시킨다.
								</a>
						</div>
					</div>
				</div>
			</div>
			<!-- cafe system 프로젝트 소개 끝 -->
			<!-- 화면경로 시작 -->
			<div class="col-md-6 col-sm-6 ">
				<div class="x_panel tile">
					<div class="x_title">
						<h2>프로젝트 설명 및 프로세스 경로</h2>
						
						<div class="clearfix"></div>
					</div>
					<div class="x_content" style="text-align: center; height:500px; line-height:30px; overflow: auto; ">
						<h2 >화면경로</h2> 
						<a style="color: #5D5D5D; font-size: 15px;">
						Login → 권한별 선택 로그인 가능 (사업주, 직원, 관리자)<br><br>				
						</a>
						<h2>사업주</h2>
						<a style="color: #5D5D5D; font-size: 15px;">
						마이페이지 조회<br>
						사업장 / 직원 / 거래처 등록 수정 삭제 조회 <br>
						메뉴 / 메뉴 레시피 / 품목 / 재고조사  등록 수정 삭제 조회 <br>
						일일 품목 소모량 / 매입별 품목 소모량 / 품목별 재고 총 수량 조회<br>
						급여 / 출퇴근 등록 수정 삭제 조회 <br>
						매입 / 매출 / 기타 지출 등록 수정 삭제 조회 <br>
						기간별 매출매입 조회 / 부가세 조회 / 손익계산서 조회 <br>
						<br>
						</a>
						<h2>직원</h2>
						<a style="color: #5D5D5D; font-size: 15px;">
						마이페이지 조회<br>
						거래처 조회<br>
						메뉴 / 메뉴 레시피 / 품목 / 재고조사  등록 수정 삭제 조회 <br>
						일일 품목 소모량 / 매입별 품목 소모량 / 품목별 재고 총 수량 조회<br>
						출퇴근 등록 <br>
						매입 / 매출 / 기타 지출 등록 수정 삭제 조회 <br>
						<br>						
						</a>
						<h2>관리자</h2>
						<a style="color: #5D5D5D; font-size: 15px;">
						전체 (회원 / 직원 / 사업장) 조회<br>
						탈퇴 회원 조회<br>
						로그인 이력 조회<br><br>
						</a>
						<h2>프로세스 경로</h2>
						<img alt="" th:src="@{images/index_etc1.png}">
						<img alt="" th:src="@{images/index_etc2.png}">
						<img alt="" th:src="@{images/index_etc3.png}">
						<img alt="" th:src="@{images/index_etc4.png}">

						
					</div>
				</div>
			</div>
			<!-- 화면경로 끝 -->
			<div class="col-md-12 col-sm-12 ">
				<div class="x_panel tile">
					<div class="x_title">
						<h2>팀소개</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content" style="text-align: center; line-height:30px;">
						<div class="row">
							<div class="col-md-12 col-sm-12">
							<h2 >팀원 소개</h2> 
								<a style="color: #5D5D5D; font-size: 15px;">
								장현진 
								최영은
								진우주
								백재영<br><br>
								</a>
							<h2 >팀원별 업무 분담</h2> 
								<a style="color: #5D5D5D; font-size: 15px; ">
								장현진 - 매입매출관리, 세무관리<br>
								최영은 - 회원관리, 매장관리<br>
								진우주 - 재고관리<br>
								백재영 - 급여관리
								</a><br><br>

							<h2>팀원별 담당 기능</h2>
							</div>
							
							<div style="color:#5D5D5D;" class="col-md-3 col-sm-3">
								<table>
									<tbody>
										<tr>
											<td width="112" height="43" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #486a25 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">이 름</span></p>
											</td>
											<td width="193" height="43" valign="middle" style="border-left:solid #486a25 0.4pt;border-right:solid #486a25 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">담당 업무</span></p>
											</td>
											<td width="412" height="43" valign="middle" style="border-left:solid #486a25 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">업무 내용</span></p>
											</td>
										</tr>
										<tr>
											<td rowspan="10" width="112" height="259" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">장현진</span></p>
											</td>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;">팀장</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="margin-left:1.0pt;text-align:left;"><span style="font-family:&quot;맑은 고딕&quot;;">회의 진행, 일정 관리, 업무 조율</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;">Hosting</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="margin-left:1.0pt;text-align:left;"><span style="font-family:&quot;맑은 고딕&quot;;">프로젝트 호스팅 계정관리, URL 연결 작업, 배포 업무 수행</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">매입 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">매입 </span><span style="font-family:&quot;맑은 고딕&quot;;">CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">매출 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">매출 </span><span style="font-family:&quot;맑은 고딕&quot;;">CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">기타 지출 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">기타 지출 </span><span style="font-family:&quot;맑은 고딕&quot;;">CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">기간별 매출 조회</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">기간별 매출 </span><span style="font-family:&quot;맑은 고딕&quot;;">CRUD 및 </span><span style="font-family:&quot;맑은 고딕&quot;;">화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">부가세 조회</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">부가세 </span><span style="font-family:&quot;맑은 고딕&quot;;">CRUD 및 </span><span style="font-family:&quot;맑은 고딕&quot;;">화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">손익 계산서 조회</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">손익계산서&nbsp; </span><span style="font-family:&quot;맑은 고딕&quot;;">CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">CSS</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">프로젝트 Bootstrap활용 템플릿 적용 및 모듈 분리</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">DB데이터</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">DBMS(mySql)관리 및 table스키마 (자원테이블 관리)</span></p>
											</td>
										</tr>
									</tbody>								
								</table>
							</div>
							<div style="color:#5D5D5D;" class="col-md-3 col-sm-3">
								<table>
									<tbody>
										<tr>
											<td width="112" height="43" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #486a25 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">이 름</span></p>
											</td>
											<td width="193" height="43" valign="middle" style="border-left:solid #486a25 0.4pt;border-right:solid #486a25 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">담당 업무</span></p>
											</td>
											<td width="412" height="43" valign="middle" style="border-left:solid #486a25 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">업무 내용</span></p>
											</td>
										</tr>
										<tr>
											<td rowspan="10" width="112" height="259" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">최영은</span></p>
											</td>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">로그인</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">로그인 및 로그아웃</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;">회원 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="margin-left:1.0pt;text-align:left;"><span style="font-family:&quot;맑은 고딕&quot;;">관리자, 사업주, 직원 CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">사업장 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">사업장 </span><span style="font-family:&quot;맑은 고딕&quot;;">CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">직원 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">직원 상세 정보 CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">거래처 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">거래처 CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">내 정보 조회(마이페이지)</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">내 정보 CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">ERROR 페이지 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">ERROR 발생 시 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">관리자 설정 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">관리자 설정 CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">CSS</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">프로젝트 Bootstrap활용 템플릿 적용 및 모듈 분리</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">DB데이터</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">DBMS(mySql)관리 및 table스키마 (자원테이블 관리)</span></p>
											</td>
										</tr>
									</tbody>								
								</table>
							
							</div>
							<div style="color:#5D5D5D;" class="col-md-3 col-sm-3">
								<table>
									<tbody>
										<tr>
											<td width="112" height="43" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #486a25 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">이 름</span></p>
											</td>
											<td width="193" height="43" valign="middle" style="border-left:solid #486a25 0.4pt;border-right:solid #486a25 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">담당 업무</span></p>
											</td>
											<td width="412" height="43" valign="middle" style="border-left:solid #486a25 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">업무 내용</span></p>
											</td>
										</tr>
										<tr>
											<td rowspan="7" width="112" height="181" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">백재영</span></p>
											</td>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">출 퇴근 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">출퇴근, 외출, 복귀, 근무시간 계산 저장, 수정 신청</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">급여 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">상용직, 일용직 급여 관리 CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">추가수당 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="margin-left:1.0pt;text-align:left;"><span style="font-family:&quot;맑은 고딕&quot;;">추가수당 관리 CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;">팀 프로젝트 문서 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="text-align:left;"><span style="font-family:&quot;맑은 고딕&quot;;">회의 내용 정리, 관리 및 문서 작성</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">CSS</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">프로젝트 Bootstrap활용 템플릿 적용 및 모듈 분리</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">DB데이터</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">DBMS(mySql)관리 및 table스키마 (자원테이블 관리)</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">ERD</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">ERD설계 및 정리</span></p>
											</td>
										</tr>
									</tbody>								
								</table>
							
							</div>
							<div style="color:#5D5D5D;" class="col-md-3 col-sm-3">
								<table>
									<tbody>
										<tr>
											<td width="112" height="43" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #486a25 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">이 름</span></p>
											</td>
											<td width="193" height="43" valign="middle" style="border-left:solid #486a25 0.4pt;border-right:solid #486a25 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">담당 업무</span></p>
											</td>
											<td width="412" height="43" valign="middle" style="border-left:solid #486a25 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">업무 내용</span></p>
											</td>
										</tr>
										<tr>
											<td rowspan="11" width="112" height="235" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;">진우주</span></p>
											</td>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">메뉴 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="margin-left:1.0pt;text-align:left;"><span style="font-family:&quot;맑은 고딕&quot;;">메뉴 CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">품목 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="margin-left:1.0pt;text-align:left;"><span style="font-family:&quot;맑은 고딕&quot;;">품목 CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">품목 소모량 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="margin-left:1.0pt;text-align:left;"><span style="font-family:&quot;맑은 고딕&quot;;">품목 소모량 CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">재고 조사 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="margin-left:1.0pt;text-align:left;"><span style="font-family:&quot;맑은 고딕&quot;;">재고 조사 CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="28" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;">일일 품목 소모량 관리</span></p>
											</td>
											<td width="412" height="28" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="margin-left:1.0pt;text-align:left;"><span style="font-family:&quot;맑은 고딕&quot;;">일일 품목 소모량 조회 및 마감 처리</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">품목 소모량 상세 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">품목 소모량 상세 관리 및 마감 처리</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="text-align:center;"><span style="font-family:&quot;맑은 고딕&quot;;">품목별 재고 총 수량 조회</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle14" style="margin-left:1.0pt;text-align:left;"><span style="font-family:&quot;맑은 고딕&quot;;">품목별 재고 총 수량 CRUD 및 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">CSS</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">프로젝트 Bootstrap활용 템플릿 적용 및 모듈 분리</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">DB데이터</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">DBMS(mySql)관리 및 table스키마 (자원테이블 관리)</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">ERROR 페이지 관리</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="margin-left:1.0pt;text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">ERROR 발생 시 화면 구현</span></p>
											</td>
										</tr>
										<tr>
											<td width="193" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:center;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">ERD</span></p>
											</td>
											<td width="412" height="26" valign="middle" style="border-left:solid #5D5D5D 0.4pt;border-right:solid #5D5D5D 0.4pt;border-top:solid #5D5D5D 0.4pt;border-bottom:solid #5D5D5D 0.4pt;padding:1.4pt 5.1pt 1.4pt 5.1pt">
											<p class="HStyle0" style="text-align:left;line-height:100%;"><span style="font-family:&quot;맑은 고딕&quot;;">ERD설계 및 정리</span></p>
											</td>
										</tr>
									</tbody>								
								</table>
							
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</th:block>
<th:block layout:fragment="customJs">
		<!-- Chart.js -->
		<script src="/vendors/Chart.js/dist/Chart.min.js"></script>
		<!-- gauge.js -->
		<script src="/vendors/gauge.js/dist/gauge.min.js"></script>
		<!-- bootstrap-progressbar -->
		<script	
			src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
		<!-- iCheck -->
		<script src="/vendors/iCheck/icheck.min.js"></script>
		<!-- Skycons -->
		<script src="/vendors/skycons/skycons.js"></script>
		<!-- Flot -->
		<script src="/vendors/Flot/jquery.flot.js"></script>
		<script src="/vendors/Flot/jquery.flot.pie.js"></script>
		<script src="/vendors/Flot/jquery.flot.time.js"></script>
		<script src="/vendors/Flot/jquery.flot.stack.js"></script>
		<script src="/vendors/Flot/jquery.flot.resize.js"></script>
		<!-- Flot plugins -->
		<script src="/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
		<script src="/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
		<script src="/vendors/flot.curvedlines/curvedLines.js"></script>
		<!-- DateJS -->
		<script src="/vendors/DateJS/build/date.js"></script>
		<!-- JQVMap -->
		<script src="/vendors/jqvmap/dist/jquery.vmap.js"></script>
		<script src="/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
		<script src="/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
		<!--  bootstrap-daterangepicker -->
		<script src="/vendors/moment/min/moment.min.js"></script>
		<script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
</th:block>

</html>