<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>메뉴 등록</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<!-- bootstrap-wysiwyg -->
		<link th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}" rel="stylesheet">
		<!-- Select2 -->
		<link th:href="@{/vendors/select2/dist/css/select2.min.css}" rel="stylesheet">
		<!-- Switchery -->
		<link th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet">
		<!-- starrr -->
		<link th:href="@{/vendors/starrr/dist/starrr.css}" rel="stylesheet">
		<!-- bootstrap-daterangepicker -->
		<link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
						<div class="x_title">
							<h2>메뉴 등록 </h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<br />
							<form id="demo-form2" th:action="@{/addmenu}" method="POST" data-parsley-validate class="form-horizontal form-label-left">
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="menuName">메뉴 명 <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="hidden" name="storeInfoCode" th:value ="${session.SSTORECODE}" >
										<input type="text" id="menuName" name="menuName" required="required" class="form-control ">
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3 col-sm-3 label-align">메뉴 카테고리 *</label>
									<div class="col-md-6 col-sm-6 ">
										<select class="form-control" name="menuCate" required="required" id="menuCate">
											<option value="" disabled selected>choice plz</option>
											<option value="커피">* 커피 *</option>
											<option value="음료">* 음료 *</option>
											<option value="베이커리">* 베이커리 *</option>
											<option value="기타">* 기타 *</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="menuPrice">메뉴 가격 <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="menuPrice" name="menuPrice" required="required" class="form-control ">
									</div>
								</div>
								<div class="ln_solid"></div>
								<div class="form-group row">
									<div class="col-md-6 col-sm-6 offset-sm-3 text-center">
										<button class="btn btn-primary" type="button">Cancel</button>
										<button class="btn btn-primary" type="reset">Reset</button>
										<button class="btn btn-success" type="submit" >Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="customJs">
		<!-- Select2 -->
		<script th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
		<!-- Parsley 여기 required 값 바꿀수 있음 parsley.min.js -> parsley.js 바꿔야함 -->
		<script th:src="@{/vendors/parsleyjs/dist/parsley.js}"></script>
		<!-- Autosize -->
		<script th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
		<!-- jQuery autocomplete -->
		<script th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
	</th:block>
		
</html>