<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>메뉴 조회</title>
</th:block>

<th:block layout:fragment="customCss">
	<!-- Datatables -->


	<link th:href="@{/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}"		rel="stylesheet">
	<link th:href="@{/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}"		rel="stylesheet">
	<link th:href="@{/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}"		rel="stylesheet">
	<link th:href="@{/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}"		rel="stylesheet">
	<link th:href="@{/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}"		rel="stylesheet">
</th:block>

<th:block layout:fragment="customContents">
	<div class="right_col" role="main">

		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_title">
					<h2>
						메뉴 조회
					</h2>
					<ul class="nav navbar-right panel_toolbox">
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-sm-12">
							<div class="card-box table-responsive">
								<p class="text-muted font-13 m-b-30">
									등록한 메뉴를 조회하고 , 수정및 삭제 할 수 있습니다.
								</p>

								<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
									<thead>
										<tr>
											<!-- 	<th>메뉴코드</th> -->
											<!--	<th>사업장코드</th> -->
											<!--	<th>상호명</th> -->
											<th>메뉴명</th>
											<th>카테고리</th>
											<th>가격</th>
											<th>등록날짜</th>
											<th>수정</th>
											<th>삭제</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="ml : ${menuList}">
											<!-- <td th:text="${ml.menuCode}"></td>-->
											<!-- <td th:text="${ml.storeInfoCode}"></td>-->
											<!-- <td th:text="${ml.storeInfoName}"></td>-->
											<td><span>[[${ml.menuName}]]</span></td>
											<td><span>[[${ml.menuCate}]]</span></td>
											<td><span>[[${ml.menuPrice}]]</span></td>
											<td><span>[[${ml.menuRegDate}]]</span></td>
											<td>
												<a class="btn btn-primary btn-sm" th:href="@{/menu/modifyMenu(menuCode=${ml.menuCode})}">수정</a>
											</td>
											<td>
												<a class="btn btn-dark btn-sm" th:href="@{/menu/removeMenu(menuCode=${ml.menuCode})}">삭제</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</th:block>
<th:block layout:fragment="customJs">
	<!-- customJs -->
	<script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script	src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script	src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script	src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script	src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script	src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script	src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script	src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script	src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
	<script src="../vendors/jszip/dist/jszip.min.js"></script>
	<script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
</th:block>

</html>