<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>손익계산서</title>
	</th:block>
	<th:block layout:fragment="customCss">
		<style>
			tbody th, td{
				padding: 10px;
				font-weight: lighter;
			}
			
			#incomeStatementTable {
				 font-size:20px; 
				 width:100%; 
				 height: 100px; 
				 margin: auto; 
				 text-align: center;
			}
			.myChart-legend ol, 
			.myChart-legend ul { 
				list-style: none; 
				margin:0; 
				padding:0; 
				text-align:right; 
			} 
			.myChart-legend li { 
				cursor:pointer; 
				display: inline-table;
				 margin: 10px 4px; 
			} 
			.myChart-legend li span.bar{ 
				position:relative; 
				padding: 0px 10px; 
				margin: 5px; 
				border-radius:100px; 
				color:white; 
			} 
			.myChart-legend li span.line{ 
				position:relative; 
				padding: 1px 10px; 
				margin: 5px; 
				color:white; 
			} 
			.myChart-legend li div.line{ 
				float:left; 
				height:2px; 
				background:#000;
				font-size:0; 
				line-height:0; 
				width:25px; 
				padding:1px 0px; 
				border-radius:100px; 
				margin: 9px 5px; 
			}
		</style>
	</th:block>

	<th:block layout:fragment="customContents">
			<div class="right_col" role="main">
			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
						<div class="x_title">
							<h2>손익계산서 조회 및 전년도 비교</h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<br />
							<!-- 메인콘텐츠 Start -->
								<div class="row">
									<div class="col-md-6 col-sm-6" id="contend1">
										<div class="row">
											<div class="col-md-12 col-sm-12">
												<h3 style="text-align: center;">2021년</h3>
											</div>
											<div class="col-md-12 col-sm-12">
												<table id="incomeStatementTable">
													<tbody>
														<tr>
															<th>매출액</th>
															<td>300000</td>
														</tr>
														<tr>
															<th>매출액</th>
															<td>300000</td>
														</tr>
														<tr>
															<th>매출액</th>
															<td>300000</td>
														</tr>
														<tr>
															<th>매출액</th>
															<td>300000</td>
														</tr>
														<tr>
															<th>매출액</th>
															<td>300000</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-6" id="contend2">
										<div class="row">
											<div class="col-md-12 col-sm-12">
												<h3 style="text-align: center;">2020년과 2021년비교</h3>
											</div>
											<div class="col-md-12 col-sm-12">
												<!-- CHART 시작  -->
												<div id="myChartLegend" class="myChart-legend"></div>
												<div class="col-md-12 col-sm-12" style="align-content: center; margin-top: 20px;">
									                <div class="container" > 
														<canvas class="myChart" style="width: 80%; height: auto;"></canvas> 
													</div>
									            </div>
									            <!-- chart 끝  -->										
											</div>
										</div>
									</div>
								</div>
							<!-- 메인콘텐츠 End -->
						</div>
					</div>
				</div>
			</div>		
		</div>
	</th:block>
	
	<th:block layout:fragment="customJs">
	<!-- Chart.js -->
    <script th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>
    <!-- gauge.js -->
    <script th:src="@{/vendors/gauge.js/dist/gauge.min.js}"></script>
	<!-- Flot -->
    <script th:src="@{/vendors/Flot/jquery.flot.js}"></script>
    <script th:src="@{/vendors/Flot/jquery.flot.pie.js}"></script>
    <script th:src="@{/vendors/Flot/jquery.flot.time.js}"></script>
    <script th:src="@{/vendors/Flot/jquery.flot.stack.js}"></script>
    <script th:src="@{/vendors/Flot/jquery.flot.resize.js}"></script>
    <!-- Flot plugins -->
    <script th:src="@{/vendors/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
    <script th:src="@{/vendors/flot-spline/js/jquery.flot.spline.min.js}"></script>
    <script th:src="@{/vendors/flot.curvedlines/curvedLines.js}"></script>
    <!-- DateJS -->
    <script th:src="@{/vendors/DateJS/build/date.js}"></script>
    
    <script>
       
    var chartColors = {
    		  red: 'rgb(255, 99, 132)',
    		  orange: 'rgb(255, 159, 64)',
    		  yellow: 'rgb(255, 205, 86)',
    		  green: 'rgb(75, 192, 192)',
    		  blue: 'rgb(54, 162, 235)',
    		  purple: 'rgb(153, 102, 255)',
    		  grey: 'rgb(231,233,237)'
    		};
   
    var request = function(inputJson){
    	$.ajax({
			url: "/tax/getincomestatement", 
			method: "POST",
			data: inputJson,
			dataType: "json",
			success : function(result){
				console.log(result);
				//현재
				var nowTotalSalse = result.nowISList.instSaleSupplyValue;
				var nowTotalPurchases = result.nowISList.instPurchaseSupplyValue;
				var nowTotalOtherPurchases = result.nowISList.instExpenses;
				var nowTotalOp = result.nowISList.instOp;
				var nowInstNetIncome = result.nowISList.instNetIncome;
				//1년전꺼
				var agoTotalSalse = result.agoISList.instSaleSupplyValue;
				var agoTotalPurchases = result.agoISList.instPurchaseSupplyValue;
				var agoTotalOtherPurchases = result.agoISList.instExpenses;
				var agoTotalOp = result.agoISList.instOp;
				var agoInstNetIncome = result.agoISList.instNetIncome;
				
				var ctx = $('.myChart');
			    var myChart = new Chart(ctx, {
			    	type: 'line',
			    	  data: {
			    	    labels: ["총매출액", "총매입액", "판매비및관리비", "영업이익", "당기순이익"],
			    	    datasets: [{
			    	      label: result.nowISList.instYear,
			    	      backgroundColor: chartColors.red,
			    	      borderColor: chartColors.red,
			    	      data: [
			    	    	   nowTotalSalse
			    	    	  ,nowTotalPurchases
			    	    	  ,nowTotalOtherPurchases
			    	    	  ,nowTotalOp
			    	    	  ,nowInstNetIncome
			    	      ],
			    	      fill: false,
			    	    }
			    	    , {
			    	      label: result.agoISList.instYear,
			    	      fill: false,
			    	      backgroundColor: chartColors.blue,
			    	      borderColor: chartColors.blue,
			    	      data: [
			    	    	   agoTotalSalse
			    	    	  ,agoTotalPurchases
			    	    	  ,agoTotalOtherPurchases
			    	    	  ,agoTotalOp
			    	    	  ,agoInstNetIncome
			    	      ],
			    	    }]
			    	  },
			    	  options: {
			    		    responsive: true,
			    		    title: {
			    		      display: true
			    		    },
			    		    tooltips: {
			    		      mode: 'label',
			    		    },
			    		    hover: {
			    		      mode: 'nearest',
			    		      intersect: true
			    		    },
			    		    scales: {
			    		      xAxes: [{
			    		        display: true,
			    		        scaleLabel: {
			    		          display: true
			    		        }
			    		      }],
			    		      yAxes: [{
			    		        display: true,
			    		        scaleLabel: {
			    		          display: true
			    		        }
			    		     }]
			    	       },
			    	       legend: {
			    	                display: false
			    	       },
			    	       legendCallback: function(chart){
			    	    	   return drawCustomLegend(chart); 
			    	       }// 사용자 범례를 만들 때 쓰는 함수를 지정
			    	  }
			    });
			    $('#myChartLegend').html(myChart.generateLegend());
			}
		});
	};
    //사용자 범례 함수
	function drawCustomLegend(chart){ 
		var legendLabel = []; 
		legendLabel.push('<ul class="' + chart.id + '-legend">'); 
		for (i = 0; i <chart.data.datasets.length; i++) { 
			if(!(chart.data.datasets[i].hideLegend) && chart.data.datasets[i].label){ 
				legendLabel.push('<li datasetIndex="'+i+'"><span class="line" style="background-color:' + chart.data.datasets[i].borderColor + '"></span>'); 
				legendLabel.push('<span>'+chart.data.datasets[i].label+'</span>');
				legendLabel.push('</li>'); 
			} 
		}
		legendLabel.push('</ul>'); 
		return legendLabel.join('');
	}

	
	
	$(document).ready(function(){
		var now = new Date();
	    var year= now.getFullYear();
	    var secondDateYear = Number(year)-1; 
    	request({
    		"secondDateYear" : secondDateYear
    	});
    });    
 	
    </script>
    
	</th:block>  

</html>