<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>손익계산서</title>
	</th:block>
	<th:block layout:fragment="customCss">
		<style>
			tbody th, td{
				padding: 10px;
				font-weight: lighter;
			}
			
			#incomeStatementTable {
				 font-size:20px; 
				 width:100%; 
				 height: 100px; 
				 margin-left: 40px; 
				 text-align: left;
			}
			.myChart-legend ol, 
			.myChart-legend ul { 
				list-style: none; 
				margin:0; 
				padding:0; 
				text-align:right; 
			} 
			.myChart-legend li { 
				cursor:pointer; 
				display: inline-table;
				 margin: 10px 4px; 
			} 
			.myChart-legend li span.bar{ 
				position:relative; 
				padding: 0px 10px; 
				margin: 5px; 
				border-radius:100px; 
				color:white; 
			} 
			.myChart-legend li span.line{ 
				position:relative; 
				padding: 1px 10px; 
				margin: 5px; 
				color:white; 
			} 
			.myChart-legend li div.line{ 
				float:left; 
				height:2px; 
				background:#000;
				font-size:0; 
				line-height:0; 
				width:25px; 
				padding:1px 0px; 
				border-radius:100px; 
				margin: 9px 5px; 
			}
			tbody i {
				margin-left : 10px;
			}
			tbody a:hover {
				cursor:pointer;
			}
		</style>
	</th:block>

	<th:block layout:fragment="customContents">
			<div class="right_col" role="main">
			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
						<div class="x_title">
							<h2>손익계산서 조회 및 전년도 비교</h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<br />
							<!-- 메인콘텐츠 Start -->
								<div class="row">
									<div class="col-md-6 col-sm-6" id="contend1">
										<div class="row">
											<div class="col-md-12 col-sm-12">
												<h3 style="text-align: center;"><span id="incomeStatementTitle"></span></h3>
											</div>
											<div class="col-md-12 col-sm-12">
												<table id="incomeStatementTable">
													<tbody>
														<tr>
															<th>매출</th>
															<td><span id="totalSalse"></span></td>
														</tr>
														<tr>
															<th>매입</th>
															<td><span id="totalPurchases"></span></td>
														</tr>
														<tr>
															<th>매출총이익</th>
															<td><span id="instSalesAmtTotal"></span></td>
														</tr>
														<tr>
															<th><a data-toggle="modal" data-target="#myModal">판매비와 일반관리비<i class="fa fa-angle-double-right fa-lg"></i></a></th>
															<td><span id="totalOtherPurchases"></span></td>
														</tr>
														<tr>
															<th>영업이익</th>
															<td><span id="totalOp"></span></td>
														</tr>
														<tr>
															<th><a data-toggle="modal" data-target="#modalInstNoi">영업외수익<i class="fa fa-angle-double-right fa-lg"></i></a></th>
															<td><span id="instNoi"></span></td>
														</tr>
														<tr>
															<th><a data-toggle="modal" data-target="#modalInstNoe">영업외비용<i class="fa fa-angle-double-right fa-lg"></i></a></th>
															<td><span id="instNoe"></span></td>
														</tr>
														<tr>
															<th>당기순이익</th>
															<td><span id="instNetIncome"></span></td>
														</tr>
													</tbody>
												</table>												
											</div>
										</div>
									</div>
									<!-- 판관비 모달-->
									<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
										   <div class="modal-content">
										      <div class="modal-header">
										        <h4 class="modal-title" id="myModalLabel1">판매비와 일반관리비</h4>
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										      </div>
										      <div class="modal-body">
										      	<table id="modalTable" class="table" style="padding:0; width:100%; text-align: center;">
										      	</table>
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-default" data-dismiss="modal">확인</button>
										      </div>
										   </div>
										</div>
									</div>
									<!-- 영업외수익 등록 모달  -->
									<div class="modal fade" id="modalInstNoi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
										   <div class="modal-content">
										      <div class="modal-header">
										        <h4 class="modal-title" id="myModalLabel2">영업외수익 등록</h4>
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										      </div>
										      <div class="modal-body">
										      	<input type="hidden" id="intendedYearMonth">									
												<div class="form-group col-md-12">
													<form>
														<div class="col-md-11">
															<input type="text" class="form-control" id="instNoi" placeholder="영업외수익">
														</div>			
														<div class="col-md-1">
															<label for="vatIntendedTax" style="position:relative; top: 8px;"> 원</label>
														</div>							
													</form>
												</div>	
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
						        				<button type="button" id="addInstNoi" class="btn btn-primary">등록</button>
										      </div>
										   </div>
										</div>
									</div>
									<!-- 영업외비용 등록 -->
									<div class="modal fade" id="modalInstNoe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
										   <div class="modal-content">
										      <div class="modal-header">
										        <h4 class="modal-title" id="myModalLabel2">영업외비용 등록</h4>
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										      </div>
										      <div class="modal-body">
										      	<input type="hidden" id="intendedYearMonth">									
												<div class="form-group col-md-12">
													<form>
														<div class="col-md-11">
															<input type="text" class="form-control" id="instNoe" placeholder="영업외비용">
														</div>			
														<div class="col-md-1">
															<label for="vatIntendedTax" style="position:relative; top: 8px;"> 원</label>
														</div>							
													</form>
												</div>	
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
						        				<button type="button" id="addInstNoe" class="btn btn-primary">등록</button>
										      </div>
										   </div>
										</div>
									</div>
									<!-- CHART 시작  -->
									<div class="col-md-6 col-sm-6" id="contend2">
										<div class="row">
											<div class="col-md-12 col-sm-12">
												<h3 style="text-align: center;"><span id="chartTitle"></span></h3>
											</div>
											<div class="col-md-12 col-sm-12">												
												<div id="myChartLegend" class="myChart-legend"></div>
												<div class="col-md-12 col-sm-12" style="align-content: center; margin-top: 20px;">
									                <div class="container" > 
														<canvas class="myChart" style="width: 80%; height: auto;"></canvas> 
													</div>
									            </div>
									            <!-- chart 끝  -->										
											</div>
										</div>
									</div>
								</div>
							<!-- 메인콘텐츠 End -->
						</div>
					</div>
				</div>
			</div>		
		</div>
	</th:block>
	
	<th:block layout:fragment="customJs">
	<!-- Chart.js -->
    <script th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>
    <!-- gauge.js -->
    <script th:src="@{/vendors/gauge.js/dist/gauge.min.js}"></script>
	<!-- Flot -->
    <script th:src="@{/vendors/Flot/jquery.flot.js}"></script>
    <script th:src="@{/vendors/Flot/jquery.flot.pie.js}"></script>
    <script th:src="@{/vendors/Flot/jquery.flot.time.js}"></script>
    <script th:src="@{/vendors/Flot/jquery.flot.stack.js}"></script>
    <script th:src="@{/vendors/Flot/jquery.flot.resize.js}"></script>
    <!-- Flot plugins -->
    <script th:src="@{/vendors/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
    <script th:src="@{/vendors/flot-spline/js/jquery.flot.spline.min.js}"></script>
    <script th:src="@{/vendors/flot.curvedlines/curvedLines.js}"></script>
    <!-- DateJS -->
    <script th:src="@{/vendors/DateJS/build/date.js}"></script>
    
    <script>
       
    var chartColors = {
    		  red: 'rgb(255, 99, 132)',
    		  orange: 'rgb(255, 159, 64)',
    		  yellow: 'rgb(255, 205, 86)',
    		  green: 'rgb(75, 192, 192)',
    		  blue: 'rgb(54, 162, 235)',
    		  purple: 'rgb(153, 102, 255)',
    		  grey: 'rgb(231,233,237)'
    		};
   
    var request = function(inputJson){
    	$.ajax({
			url: "/tax/getincomestatement", 
			method: "POST",
			data: inputJson,
			dataType: "json",
			success : function(result){
				console.log(result);				
				console.log(result.agoISList)
				//판관비 모달
				console.log(result.list.length);
				for(var i = 0 ; i < result.salaryList.length; i++){
					
					var trInnerHtml = '<tr>';
					trInnerHtml +='<td>'+result.salaryList[i].salaryTitle+'</td>';
					trInnerHtml +='<td>'+result.salaryList[i].salaryTotal+' 원 </td>';
					trInnerHtml += '<tr>';
					
					$('#modalTable').append(trInnerHtml);
				}
				for(var i = 0 ; i < result.list.length; i++){
					
					var trInnerHtml = '<tr>';
					trInnerHtml +='<td>'+result.list[i].otherPurchasesTitle+'</td>';
					trInnerHtml +='<td>'+result.list[i].otherPurchasesTotal+' 원 </td>';
					trInnerHtml += '<tr>';
					
					$('#modalTable').append(trInnerHtml);
				}
				
				//현재
				var nowTotalSalse = result.nowISList.instSaleSupplyValue;
				var nowTotalPurchases = result.nowISList.instPurchaseSupplyValue;
				var nowInstSalesAmtTotal =result.nowISList.instSalesAmtTotal;
				var nowTotalOtherPurchases = result.nowISList.instExpenses;
				var nowTotalOp = result.nowISList.instOp;
				var nowInstNoi = result.nowISList.instNoi;
				var nowInstNoe = result.nowISList.instNoe;
				var nowInstNetIncome = result.nowISList.instNetIncome;
				
				//1년전꺼
				var agoTotalSalse = 0;
				var agoTotalPurchases = 0;
				var agoTotalOtherPurchases = 0;
				var agoTotalOp = 0;
				var agoInstNetIncome = 0;
				
				if(result.agoISList != null){
					agoTotalSalse = result.agoISList.instSaleSupplyValue;
					agoTotalPurchases = result.agoISList.instPurchaseSupplyValue;
					agoTotalOtherPurchases = result.agoISList.instExpenses;
					agoTotalOp = result.agoISList.instOp;
					agoInstNetIncome = result.agoISList.instNetIncome;
				}
				
							
				
				//손익계산서table
				const cn1 = nowTotalSalse.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
				const cn2 = nowTotalPurchases.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
				const cn3 = nowInstSalesAmtTotal.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
				const cn4 = nowTotalOtherPurchases.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
				const cn5 = nowTotalOp.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
				const cn6 = nowInstNoi.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
				const cn7 = nowInstNoe.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
				const cn8 = nowInstNetIncome.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
				
				$('#totalSalse').text(cn1+' 원');
				$('#totalPurchases').text(cn2+' 원');
				$('#instSalesAmtTotal').text(cn3+' 원');
				$('#totalOtherPurchases').text(cn4+' 원');
				$('#totalOp').text(cn5+' 원');
				$('#instNoi').text(cn6+' 원');
				$('#instNoe').text(cn7+' 원');
				$('#instNetIncome').text(cn8+' 원');
				
				
				
				//chart
				var ctx = $('.myChart');
			    var myChart = new Chart(ctx, {
			    	type: 'line',
			    	  data: {
			    	    labels: ["총매출액", "총매입액", "판매비및관리비", "영업이익", "당기순이익"],
			    	    datasets: [{
			    	      label: result.nowISList.instYear,
			    	      backgroundColor: chartColors.red,
			    	      borderColor: chartColors.red,
			    	      data: [
			    	    	   nowTotalSalse
			    	    	  ,nowTotalPurchases
			    	    	  ,nowTotalOtherPurchases
			    	    	  ,nowTotalOp
			    	    	  ,nowInstNetIncome
			    	      ],
			    	      fill: false,
			    	    }
			    	    , {
			    	      label: Number(result.nowISList.instYear)-1,
			    	      fill: false,
			    	      backgroundColor: chartColors.blue,
			    	      borderColor: chartColors.blue,
			    	      data: [
			    	    	   agoTotalSalse
			    	    	  ,agoTotalPurchases
			    	    	  ,agoTotalOtherPurchases
			    	    	  ,agoTotalOp
			    	    	  ,agoInstNetIncome
			    	      ],
			    	    }]
			    	  },
			    	  options: {
			    		    responsive: true,
			    		    title: {
			    		      display: true
			    		    },
			    		    tooltips: {
			    		      mode: 'label',
			    		    },
			    		    hover: {
			    		      mode: 'nearest',
			    		      intersect: true
			    		    },
			    		    scales: {
			    		      xAxes: [{
			    		        display: true,
			    		        scaleLabel: {
			    		          display: true
			    		        }
			    		      }],
			    		      yAxes: [{
			    		        display: true,
			    		        scaleLabel: {
			    		          display: true
			    		        }
			    		     }]
			    	       },
			    	       legend: {
			    	                display: false
			    	       },
			    	       legendCallback: function(chart){
			    	    	   return drawCustomLegend(chart); 
			    	       }// 사용자 범례를 만들 때 쓰는 함수를 지정
			    	  }
			    });
			    $('#myChartLegend').html(myChart.generateLegend());
			}
		});
	};
    //사용자 범례 함수
	function drawCustomLegend(chart){ 
		var legendLabel = []; 
		legendLabel.push('<ul class="' + chart.id + '-legend">'); 
		for (i = 0; i <chart.data.datasets.length; i++) { 
			if(!(chart.data.datasets[i].hideLegend) && chart.data.datasets[i].label){ 
				legendLabel.push('<li datasetIndex="'+i+'"><span class="line" style="background-color:' + chart.data.datasets[i].borderColor + '"></span>'); 
				legendLabel.push('<span>'+chart.data.datasets[i].label+'</span>');
				legendLabel.push('</li>'); 
			} 
		}
		legendLabel.push('</ul>'); 
		return legendLabel.join('');
	}

	$(document).ready(function(){
		var now = new Date();
	    var year= now.getFullYear();
	    var secondDateYear = Number(year)-1; 
	    $('#incomeStatementTitle').text(year+'년 손익계산서')
	    $('#chartTitle').text(year+'년과 '+secondDateYear+'년 비교');
    	request({
    		"secondDateYear" : secondDateYear
    	});
    });
 	
    </script>
    
	</th:block>  

</html>