<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="customTitle">
		<title>매출매입조회</title>
	</th:block>

	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
			<div class="col-md-12 col-sm-12">
              <div class="x_panel tile overflow_hidden" style="align-content: center;">
                <div class="x_title">
                  <h2>Device Usage</h2>
                 	<ul class="nav navbar-right panel_toolbox">
						<li><a type="submit" th:href="@{/getvat}" style="color: black;" class="btn btn-ifno btn-sm" >예상 부가가치세 조회</a></li>					
					</ul>
                  <div class="clearfix"></div>
                </div>	 
                	<input type="hidden" name="nowMonth" id="nowMonth">       	 
	           	 <div class="form-horizontal" style="text-align: center; margin-top: 30px;">
	           	  	<div class="form-group col-sm-2">
		           	 	<button class="btn" id="preMonth">이전달</button>
		           	</div>
		           	 	<div class="form-group col-sm-8">
		           	 		<div id = "month"  style="text-align: center; font-size: xx-large;"></div>
		           	 	</div>
		           	<div class="form-group col-sm-2">
		           	 	<button class="btn " id="nextMonth">다음달</button>
	           	 	</div>
	           	 </div>
	           	 
	           	 <!-- /bar charts -->
	           	 <div class="col-md-12 col-sm-12" style="align-content: center; margin-top: 20px;">
	                <div class="container"> 
						<canvas id="myChart"></canvas> 
					</div>
	              </div>
	              <!-- /bar charts -->
                </div>
              </div>
            </div>
	</th:block>
	
	<th:block layout:fragment="customJs">
	<!-- Chart.js -->
    <script th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>
    <!-- gauge.js -->
    <script th:src="@{/vendors/gauge.js/dist/gauge.min.js}"></script>
	<!-- Flot -->
    <script th:src="@{/vendors/Flot/jquery.flot.js}"></script>
    <script th:src="@{/vendors/Flot/jquery.flot.pie.js}"></script>
    <script th:src="@{/vendors/Flot/jquery.flot.time.js}"></script>
    <script th:src="@{/vendors/Flot/jquery.flot.stack.js}"></script>
    <script th:src="@{/vendors/Flot/jquery.flot.resize.js}"></script>
    <!-- Flot plugins -->
    <script th:src="@{/vendors/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
    <script th:src="@{/vendors/flot-spline/js/jquery.flot.spline.min.js}"></script>
    <script th:src="@{/vendors/flot.curvedlines/curvedLines.js}"></script>
    <!-- DateJS -->
    <script th:src="@{/vendors/DateJS/build/date.js}"></script>
   
    <script>
    var nowMonth = $('#nowMonth');
    
 //   var totalOtherPurchases = '[[${totalPandS.totalOtherPurchases}]]';
//    var totalPurchases = '[[${totalPandS.totalPurchases}]]';
 //   var totalSales = '[[${totalPandS.totalSales}]]';
    var dbYear = '[[${totalPandS.year}]]';
    var dbMonth = '[[${totalPandS.month}]]';
	
    
	    var request = function(array){
	    	$.ajax({
				url: "/tax/gettotalpands", 
				method: "POST",
				data: { "nowMonth" : array },
				dataType: "json",
				success : function(result){
					console.log(result);
					  var totalOtherPurchases = result.totalOtherPurchases
					  console.log(totalOtherPurchases);
					  var totalPurchases = result.totalPurchases
					  var totalSales = result.totalSales
					  
					   	var ctx = $('#myChart');
					    var myChart = new Chart(ctx, {
					    	type: 'bar', 
					    	data: { 
					    		labels: ['매출', '매입', '기타매입'], 
					    		datasets: [{ 
					    			label: '금액', 
					    			data: [totalSales, totalPurchases, totalOtherPurchases],
						    		backgroundColor: [ 
						    			'#E6E6FA','#FFFACD','#AFEEEE'
						    		],
						    		borderWidth: 1 
						    		}] 
						    	},
					    	options: { 
					    		legend:{
					    			display:false
					    		}
					    	}
					});
					  	myChart.destroy();
					  	myChart.update();
				}
			});
	    	console.log('a');
    	};
	      
	    $(document).ready(function(){
	    	request();
	    })
    	$('#preMonth').click(function(){
    		//$('.container').children('iframe').remove();
    		
    		dbMonth = (Number(dbMonth)-1).toString().padStart(2,'0');
    		if(dbMonth=='00'){
    			dbYear = Number(dbYear)-1
    			dbMonth = '12';
    		}
    		nowMonth.val(dbYear + "-" + dbMonth);
    		request(nowMonth.val());
    		console.log(nowMonth.val());
    	});
	    $('#nextMonth').click(function(){
	    	console.log("ddddddddddddd")
    		//$('.container').children('iframe').remove();
    		
    		dbMonth = (Number(dbMonth)+1).toString().padStart(2,'0');
    		if(dbMonth=='13'){
    			dbYear = Number(dbYear)+1
    			dbMonth = '01';
    		}
    		nowMonth.val(dbYear + "-" + dbMonth);
    		request(nowMonth.val());
    		console.log(nowMonth.val());
    	});
	    

	    
    
    </script>
	</th:block>

</html>