<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="customTitle">
		<title>매출매입조회</title>
	</th:block>

	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
			<div class="col-md-12 col-sm-12 ">
              <div class="x_panel tile overflow_hidden">
                <div class="x_title">
                  <h2>Device Usage</h2>
                 	<ul class="nav navbar-right panel_toolbox">
						<li><button type="submit" class="btn btn-ifno btn-sm" data-toggle="modal" data-target="#myVatModal">예상 부가가치세 조회</button></li>					
					</ul>
                  <div class="clearfix"></div>
                </div>
                <!-- 모달 -->
	              <div class="modal fade" id="myVatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog  modal-lg">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h4 class="modal-title" id="myModalLabel">예상 부가가치세 조회</h4>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					      </div>
					      <div class="modal-body">
					      	<select name="year" id="year" title="년도" class="custom-select"></select>
					      	<select id="month" class="custom-select">					      	
					      		<option value="1기">1기</option>
					      		<option value="2기">2기</option>
					      	</select>
					      	<button type="button" id="forVatBtn" th:data-SSTORECODE="${session.SSTORECODE}" class="btn btn-info">검색</button>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
                <div>
                	<form>
                       <div class="form-group row col-lg-4 col-md-6 col-sm-6">
                      <label class="col-form-label col-lg-3 col-md-6 col-sm-6 label-align">시작 날짜 * 
                      </label>
                      <div class="col-md-6 col-sm-6">
                         <input name="searchFirstDate" id="searchFirstDate" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                            <script>
                               function timeFunctionLong(input) {
                                  setTimeout(function() {
                                     input.type = 'text';
                                  }, 60000);
                               }
                            </script>
                      </div>
                   </div>
                   <div class="form-group row col-lg-4 col-md-6 col-sm-6">
                      <label class="col-form-label col-lg-3 col-md-6 col-sm-6 label-align">종료 날짜 * 
                      </label>
                      <div class="col-md-6 col-sm-6">
                         <input name="searchLastDate" id="searchLastDate" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                            <script>
                               function timeFunctionLong(input) {
                                  setTimeout(function() {
                                     input.type = 'text';
                                  }, 60000);
                               }
                            </script>
                      </div>
                   </div>
					<button class="btn btn-info btn-sm" id="searchBtn" type="button">검색</button>
                </form>
                <div style="margin-bottom: 100px;"></div>
                </div>
                <div class="x_content" id="chartTable" style="display: none;">
                <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                  <table class="tile_info" style="width:50%;">
                    <tr>
                      <td> 
                        <canvas class="purchasesandsales" width="300" height="300" style="width: 300px; height: 300px;"></canvas>
                      </td>
                      <td>
                        <table class="tile_info" style="margin-left: 50px;">
                          <tr>
                            <td>
                              <p><i class="fa fa-square" style="color: #E6E6FA;"></i>매출 </p>
                            </td>
                            <td><div id="slaesPer"></div></td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square" style="color: #FFFACD;"></i>매입 </p>
                            </td>
                            <td><div id="purchasesPer"></div></td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square" style="color: #AFEEEE;"></i>기타매입 </p>
                            </td>
                            <td><div id="otherPurchasesPer"></div></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
	</th:block>
	
	<th:block layout:fragment="customJs">
	<!-- Chart.js -->
    <script th:src="@{vendors/Chart.js/dist/Chart.min.js}"></script>
    <!-- gauge.js -->
    <script th:src="@{vendors/gauge.js/dist/gauge.min.js}"></script>
	<!-- Flot -->
    <script th:src="@{vendors/Flot/jquery.flot.js}"></script>
    <script th:src="@{vendors/Flot/jquery.flot.pie.js}"></script>
    <script th:src="@{vendors/Flot/jquery.flot.time.js}"></script>
    <script th:src="@{vendors/Flot/jquery.flot.stack.js}"></script>
    <script th:src="@{vendors/Flot/jquery.flot.resize.js}"></script>
    <!-- Flot plugins -->
    <script th:src="@{vendors/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
    <script th:src="@{vendors/flot-spline/js/jquery.flot.spline.min.js}"></script>
    <script th:src="@{vendors/flot.curvedlines/curvedLines.js}"></script>
    <!-- DateJS -->
    <script th:src="@{vendors/DateJS/build/date.js}"></script>
   
    <script>
    var searchFirstDate = $('#searchFirstDate');
    var searchLastDate = $('#searchLastDate');
    $('#searchBtn').click(function(){
		var request = $.ajax({
			url: "gettotalpands", 
			method: "POST",
			data: { searchFirstDate : searchFirstDate.val()
					,searchLastDate : searchLastDate.val() },
			dataType: "json"
		,
        success : function(result) {
        	if(result){
		        $('#chartTable').show();
		        var totalSales = result.totalSales;
		        var totalPurchases = result.totalPurchases;
		        var totalOtherPurchases = result.totalOtherPurchases;
		        var sumTotal = totalSales + totalPurchases + totalOtherPurchases;
		        
		        var totlaSalesPer = (totalSales/sumTotal*100).toFixed(2);
		        var totalPurchasesPer = (totalPurchases/sumTotal*100).toFixed(2);
		        var totalOtherPurchasesPer = (totalOtherPurchases/sumTotal*100).toFixed(2);
		        $('#slaesPer').text(totlaSalesPer);
		        $('#purchasesPer').text(totalPurchasesPer);
		        $('#otherPurchasesPer').text(totalOtherPurchasesPer);
		        
		       	   data = {
		       			   datasets: [{
		       					 backgroundColor: ['#E6E6FA','#FFFACD','#AFEEEE'], 
		       					data: [totalSales, totalPurchases, totalOtherPurchases] 
		       				}], 
		       				// 라벨의 이름이 툴팁처럼 마우스가 근처에 오면 나타남 
		       				labels: ['매출','매입','기타지출'] 
		       				};
		       	
		       			var ctx1 = $('.purchasesandsales');
		       			var myPieChart = new Chart(ctx1, { 
		       				type: 'pie', 
		       				data: data, 
		       				options: {} 
		       			})        		
        	}
        },
        error : function(xhr,status,error) {
        	console.log("xhr: " + xhr);
        	console.log("status: " + status);
        	console.log("error: " + error);
        	 $('#chartTable').hide();
        }
		});
    });
  
    $(document).ready(function(){
    	//가입년도 가져오기.
	    var getYear = Number('[[${getYear}]]');
	    console.log(getYear);
	    //해당년도 가져오기
    	var dt = new Date();
        var Nowyear = dt.getFullYear();
        //해당년도 - 가입년도
        var yearInt = Nowyear-getYear;
        console.log(yearInt);
        //뿌려주기
    	$('#year').append("<option value=''>해당 년도를 선택해주세요.</option>");
    	//올해기준으로 가입년도까지 보여주기
    	for(var y = (Nowyear); y >= (Nowyear-yearInt); y--){
    		$('#year').append("<option value='"+y+"'>"+y+"년"+"</option>");
    	}
    });
    $('#forVatBtn').click(function(){
    	var SSTORECODE = $(this).attr('data-SSTORECODE');
		var yearValue = $('#year').val();
		var monthValue = $('#month').val();
		var searchDays = yearValue+"년"+monthValue;
		console.log(searchDays);
		var request = $.ajax({
			url: "getmyvat", 
			method: "POST",
			data: { searchDays : searchDays,
					SSTORECODE : SSTORECODE},
			dataType: "json"
		,
        success : function(vatResult) {
        
        },
        error : function(xhr,status,error) {
        	console.log("xhr: " + xhr);
        	console.log("status: " + status);
        	console.log("error: " + error);
        	 $('#chartTable').hide();
        }
		});
    });
    
    </script>
	</th:block>

</html>