<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>매출 등록</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
			<!-- bootstrap-wysiwyg -->
		<link th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}" rel="stylesheet">
		<!-- Select2 -->
		<link th:href="@{/vendors/select2/dist/css/select2.min.css}" rel="stylesheet">
		<!-- Switchery -->
		<link th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet">
		<!-- starrr -->
		<link th:href="@{/vendors/starrr/dist/starrr.css}" rel="stylesheet">
		<!-- bootstrap-daterangepicker -->
		<link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
		<div class="row">
						<div class="col-md-12 col-sm-12 ">
							<div class="x_panel">
								<div class="x_title">
									<h2>매출 등록</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
										<div class="form-group row">
											<label class="control-label col-md-3 col-sm-3 label-align" for="heard">매출 유형  *</label>
												<div class="col-md-6 col-sm-6 ">
													<select id="heard" class="form-control" style="text-align-last : center;" required>
														<option value="">:::매출 유형 선택:::</option>
														<option value="card">카드</option>
														<option value="cash">현금</option>
														<option value="taxInvoice">세금계산서</option>
													</select>
												</div>
										</div>
										<div class="form-group row">
											<label class="control-label col-md-3 col-sm-3 label-align" for="heard">메뉴 명  *</label>
												<div class="col-md-6 col-sm-6 ">
													<select id="heard" class="form-control" required>
														<option value="">Choose..</option>
														<option value="press">Press</option>
														<option value="net">Internet</option>
														<option value="mouth">Word of mouth</option>
													</select>
												</div>
										</div>
																	
										<div class="form-group row">
											<label class="control-label col-md-3 col-sm-3 label-align" for="heard">거래처 명 *</label>
												<div class="col-md-6 col-sm-6 ">
													<select id="heard" class="form-control" required>
														<option value="">Choose..</option>
														<option value="press">Press</option>
														<option value="net">Internet</option>
														<option value="mouth">Word of mouth</option>
													</select>
												</div>
										</div>
										
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">판매수량 * <span class="required"></span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" id="first-name" required="required" class="form-control ">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">판매금액 *
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" id="last-name" name="last-name" required="required" class="form-control">
											</div>
										</div>										
										<div class="form-group row">
											<label class="control-label col-md-3 col-sm-3 label-align" for="heard">결제유형  *</label>
												<div class="col-md-6 col-sm-6 ">
													<select id="heard" class="form-control" required>
														<option value="">Choose..</option>
														<option value="press">Press</option>
														<option value="net">Internet</option>
														<option value="mouth">Word of mouth</option>
													</select>
												</div>
										</div>										
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 label-align">매출 날짜 * 
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input id="birthday" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
												<script>
													function timeFunctionLong(input) {
														setTimeout(function() {
															input.type = 'text';
														}, 60000);
													}
												</script>
											</div>
										</div>
										<div class="ln_solid"></div>
										<div class="form-group row">
											<div class="col-md-6 col-sm-6 offset-md-3 text-center">
												<button class="btn btn-primary" type="button">등록 취소</button>
												<button class="btn btn-primary" type="reset">다시 작성</button>
												<button type="submit" class="btn btn-success">매출 등록</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
		
		</div>
	</th:block>
	
	<th:block layout:fragment="customJs">
	<!-- bootstrap-daterangepicker -->
	<script th:src="@{/vendors/moment/min/moment.min.js}"></script>
	<script th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
	<!-- bootstrap-wysiwyg -->
	<script th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
	<script th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
	<script th:src="@{/vendors/google-code-prettify/src/prettify.js}"></script>
	<!-- jQuery Tags Input -->
	<script th:src="@{/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
	<!-- Switchery -->
	<script th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
	<!-- Select2 -->
	<script th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
	<!-- Parsley -->
	<script th:src="@{/vendors/parsleyjs/dist/parsley.min.js}"></script>
	<!-- Autosize -->
	<script th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
	<!-- jQuery autocomplete -->
	<script th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
	<!-- starrr -->
	<script th:src="@{/vendors/starrr/dist/starrr.js}"></script>
	</th:block>
		
</html>