<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>기타 매입 조회 </title>
	</th:block>
		<th:block layout:fragment="customCss">
		<!-- Datatables -->
		<link th:href="@{../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
	</th:block>
	<th:block layout:fragment="customContents">
	
		<div class="right_col" role="main">
			<div class="col-md-12 col-sm-12 ">
				<div class="x_panel">
					 <div class="x_title">
	                    <h2>기타매입 조회</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a th:href=@{/tax/otherpurchasesdeadline} class="btn btn-info">회계마감</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row">
							<div class="col-sm-12">
								<div class="card-box table-responsive">
									<p class="text-muted font-13 m-b-30">
										여기에 설명써주시면됩니다.
										<code>강조!</code>
									</p>
									<table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width: 100%;">
										<thead>
											<tr>
												<th><input type="checkbox" id="check-all"></th>
												<th>매입 유형</th>
												<th>상호 명</th>
												<th>공급 가액</th>
												<th>공급 세액</th>
												<th>공급 합계</th>
												<th>상세</th>
												<th>사용 날짜</th>
												<th>회계마감유무</th>
												<th>수정</th>
												<th>삭제</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${#lists.size(otherPurchasesList)>0}" th:each="ol : ${otherPurchasesList}">
												<td><input type="checkbox" id="check-all"></td>
												<td th:text="${ol.oeVatType}"></td>
												<td th:text="${ol.oeStoreName}"></td>
												<td th:text="${ol.oeSupplyValue}"></td>
												<td th:text="${ol.oeTax}"></td>
												<td th:text="${ol.oeTotal}"></td>
												<td th:text="${ol.oeEtc}"></td>
												<td th:text="${ol.oeDate}"></td>
												<td th:text="${ol.oeDeadline}"></td>
												<td><a th:href="@{/tax/modifyotherpurchases(oeCode=${ol.oeCode})}">수정</a></td>
												<td><a class="removeOtherPurchases" th:href="@{/tax/removeOtherPurchases(oeCode=${ol.oeCode})}">삭제</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</th:block>
	<th:block layout:fragment="customJs">
		<script th:src="@{../vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script	th:src="@{../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
		<script	th:src="@{../vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script	th:src="@{../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
		<script th:src="@{../vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
		<script th:src="@{../vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{../vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script	th:src="@{../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
		<script	th:src="@{../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
		<script	th:src="@{../vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script	th:src="@{../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
		<script	th:src="@{../vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
		<script th:src="@{../vendors/jszip/dist/jszip.min.js}"></script>
		<script th:src="@{../vendors/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{../vendors/pdfmake/build/vfs_fonts.js}"></script>
		<script type="text/javascript">
			$('.removeOtherPurchases').click(function(){
				var removeOtherPurchases = $(this);
		        var tr = removeOtherPurchases.parent().parent();
		        var td = tr.children();
		        var taxDeadLine = td.eq(8).text();
		        if(taxDeadLine=='o'){
		        	alert('회계마감이 이루어진 항목으로 삭제가 불가합니다.');
		        	$('.removeOtherPurchases').attr('href', '#');
		        }else{
		        	alert('정말 삭제하시겠습니까?');
		        }
			});
		</script>
	</th:block>

</html>