<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>매출 조회 </title>
	</th:block>

	<th:block layout:fragment="customCss">
		<!-- Datatables -->
		<link th:href="@{../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
	</th:block>
	<th:block layout:fragment="customContents">
	
		<div class="right_col" role="main">
			<div class="col-md-12 col-sm-12 ">
				<div class="x_panel">
					 <div class="x_title">
	                    <h2>매출 조회</h2>
	                    <ul class="nav navbar-right panel_toolbox">
							<li><a th:href=@{/tax/salesdeadlineforstock} class="btn btn-info">매출마감</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row">
							<div class="col-sm-12">
								<div class="card-box table-responsive">
									<p class="text-muted font-13 m-b-30">
										여기에 설명써주시면됩니다.
										<code>강조!</code>
									</p>
									<table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width: 100%">
										<thead>
											<tr>
												<th><input type="checkbox" id="check-all"></th>
												<th>매출 유형</th>
												<th>판매 메뉴</th>
												<th>판매 수량</th>
												<th>거래처 명</th>
												<th>공급 가액</th>
												<th>공급 세액</th>
												<th>공급 합계</th>
												<th>결제 유형</th>
												<th>판매 날짜</th>
												<th>재고마감유무</th>
												<th>회계마감유무</th>
												<th>수정</th>
												<th>삭제</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${#lists.size(salesList)>0}" th:each="sl : ${salesList}">
												<td><input type="checkbox" id="check-all"></td>
												<td th:text="${sl.salesVatType}"></td>
												<td th:text="${sl.menuName}"></td>
												<td th:text="${sl.salesCount}"></td>
												<td th:text="${sl.custName}"></td>
												<td th:text="${sl.salesSupplyValue}"></td>
												<td th:text="${sl.salesTax}"></td>
												<td th:text="${sl.salesTotal}"></td>
												<td th:text="${sl.salesPayType}"></td>
												<td th:text="${sl.salesDate}"></td>
												<td th:text="${sl.salesDeadlineDailyvol}"></td>
												<td th:text="${sl.salesDeadlineTax}"></td>
												<td><a th:href="@{/tax/modifysales(salesCode=${sl.salesCode})}">수정</a></td>
												<td><a class="removeSales" th:href="@{/tax/removeSales(salesCode=${sl.salesCode})}">삭제</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</th:block>
	<th:block layout:fragment="customJs">
		<script th:src="@{../vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
		<script	th:src="@{../vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
		<script	th:src="@{../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
		<script th:src="@{../vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
		<script th:src="@{../vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{../vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
		<script	th:src="@{../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
		<script	th:src="@{../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
		<script	th:src="@{../vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
		<script	th:src="@{../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
		<script	th:src="@{../vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
		<script th:src="@{../vendors/jszip/dist/jszip.min.js}"></script>
		<script th:src="@{../vendors/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{../vendors/pdfmake/build/vfs_fonts.js}"></script>	
		<script type="text/javascript">
			$(function(){
				$('.removeSales').click(function(){
					var removeSales = $(this);
		            var tr = removeSales.parent().parent();
		            var td = tr.children();
		            var stockDeadLine = td.eq(10).text();
		            var taxDeadLine = td.eq(11).text();
		            if(stockDeadLine=='o'&&taxDeadLine=='o'){
		            	alert('재고와 회계 마감이 완료된 항목으로 삭제가 불가합니다.');
		            	$('.removeSales').attr('href', '#');
		            }else if(stockDeadLine=='o'&&taxDeadLine=='x'){
		            	alert('재고마감이 완료된 항목으로 삭제가 불가합니다.');
		            	$('.removeSales').attr('href', '#');
		            }else if(stockDeadLine=='x'&&taxDeadLine=='o'){
		            	alert('회계마감이 완료된 항목으로 삭제가 불가합니다.');
		            	$('.removeSales').attr('href', '#');
		            }else{
		            	alert('정말로 삭제하시겠습니까?');
		            }
				})
			})
		</script>
	</th:block>

</html>